[2016-01-04 03:08] willwhitney commented on #148
This is from https://github.com/willwhitney/hydrogen/blob/master/lib/kernel.coffee#L346

We need to include a reverse lookup for user-specified language mappings. He's got a mapping from "JavaScript" to "babel", so when we look for a grammar called "babel" in Atom, it can't find one.

[2016-01-04 03:09] #135 closed

[2016-01-04 03:11] willwhitney commented on #132
@onyxfish how's the new job going? Still interested in knocking this together sometime?

[2016-01-04 03:15] willwhitney commented on #121
Closing this as an issue with the kernel.

[2016-01-04 03:15] #121 closed

[2016-01-04 11:30] nmiculinic commented on #151
Thank you!

On 4 January 2016 at 03:49, Will Whitney <notifications@github.com> wrote:

[2016-01-07 20:06] sbromberger opened #152 "Just wanted to report success with spark/scala kernel"
Hi,

I just wanted to report that I've successfully gotten Hydrogen working with https://github.com/ibm-et/spark-kernel - in order for it to work, I just needed to specify `{"Scala":"spark", "Spark 1.5.2 (Scala 2.10.4)":"spark"}` in the language mappings. I hope this helps others.

[2016-01-07 20:09] slavaGanzin commented on #152
@sbromberger Nice to hear this. Thanks.

[2016-01-07 22:47] lgeiger commented on #92
I use [autocomplete-python](https://atom.io/packages/autocomplete-python) for code completion. Because it supports rich completions like displaying docstrings and metadata.

But in use together with hydrogen I get completions from both autocomplete-python and hydrogen.

![autocomplete](https://cloud.githubusercontent.com/assets/13285808/12184365/217894c2-b595-11e5-9839-118d1feedb74.png)

It would

[2016-01-11 10:40] dschien opened #153 "Hydrogen Run not available"
Hi,

I just installed atom on OSX, then installed hydrogen via command line.
On the first run, the `hydrogen: run` option was available.

When I selected my nb it failed with "no kernel available for language json".

I restared atom and since then the `hydrogen: run` is no longer available.

Any clues?

[2016-01-22 05:01] jlowin opened #155 "code is only considered a block if indent is maintained"
Absolutely love this package, but... Hydrogen will run this block from the first line:

[code]

but not this one:

[code]

This is problematic since the second example is the default behavior in atom (type `x = (<enter>` and the closing bracket moves to that location)

[2016-01-22 15:17] willwhitney commented on #155
Yup, unfortunately this is a side effect of how Hydrogen is finding blocks
at the moment. If Atom doesn't think something is foldable, Hydrogen uses
the indentation.

After I wrap up my thesis (in the next couple of weeks) I'll work on
implementing an API for language-specific plugins that will be able to do a
much better job of this.

On Fri, Jan 22, 2016 at 12:01 AM Jeremiah Lowin <notifications

[2016-01-22 15:23] jlowin commented on #155
Got it! Sounds like you have far more important things to deal with than my desire to not have to highlight *all* my text before executing it inline. :) Hydrogen is fantastic, well done.

[2016-01-26 19:18] sho-87 commented on #64
@willwhitney any updates on your work with the jupyter team and whether this feature is likely to be added in the near future?

[2016-01-26 21:27] willwhitney commented on #64
Don't hold your breath — this idea is on the back burner right now, as I'm finishing up a thesis and the Jupyter team is in the throes of a refactor. However, if you're interested in pitching in on the Jupyter side of things, they love PRs!

[2016-02-01 18:23] amelio-vazquez-reina opened #156 "Unable to install nor use atom hydrogen in Python 3"
Apologies if this has been discussed before, but it looks like `gyp` does *not* support Python 3, so one can't use Hydrogen with it. It looks like [there is a thread](https://bugs.chromium.org/p/gyp/issues/detail?id=36) in Chromium blogs discussing this problem and someone even [submitted a CL](https://codereview.chromium.org/1454433002) (a change-list, i.e. like a PR), but it doesn't seem to have

[2016-02-01 19:13] slavaGanzin commented on #156
@amelio-vazquez-reina  You are right. node-gyp doesn't work with py3. On some systems you need even provide ```--python=/path/to/python2``` to node-gyp.

 But this isn't issue with Hydrogen and and you can find mentioning: *Python 2 (for builds - you can still run Python 3 code)* in **Dependecies** in Readme.md.

[2016-02-01 19:13] #156 closed

[2016-02-05 23:28] carter-lavering opened #157 "Can't install on Windows"
I'm trying _really_ hard to install this package on Windows 10, but it's just not working!

I've installed Python 2.7 to C:/Python27, as well as Visual Studio 2015 Community, ZeroMQ, `npm`, and `ipython[notebook]`. [This gist](https://gist.github.com/carter-lavering/59784faa5af6dbc20120) shows what output I get when I try to run `apm install hydrogen`.

I thought it might be because `python` opens

[2016-02-06 10:18] TKCen commented on #157
You need Visual Studio 2013, as it is described in the Windows instructions. ZMQ is a Visual Studio 2013 project, that's why it's not working.

[2016-02-09 16:37] carter-lavering commented on #157
I installed the 2013 version and now it's working. Still, the installation
could be a little more straightforward...

On Sat, Feb 6, 2016 at 2:18 AM Sebastian Hänisch <notifications@github.com>
wrote:

[2016-02-12 04:16] rgbkrk commented on #152
Awesome.

We should really make the language mappings a separate package sometime soon for both atom-notebook and hydrogen. /cc @gnestor

[2016-02-12 04:16] #152 closed

[2016-02-12 04:45] rgbkrk opened #158 "Roadmap"
To all collaborators, :tada: welcome to the nteract party! :tada: @willwhitney has transferred ownership of hydrogen to the collective code constructors of nteract.

We've got a lot of packages within the nteract org that are being used to [build a new version of the notebook](https://github.com/nteract/nteract). These same packages can and should be used by Hydrogen. In order to get there, we're

[2016-02-12 05:14] willwhitney commented on #158
This is going to be such a good place for Hydrogen. I haven't had the time to put in on maintaining the project, let alone adding features, and all of you nteract folks are so talented and so much better focused on this than I am.

I'll still be around from time to time, but I'm really excited to have Hydrogen in good hands from day to day.

[2016-02-12 05:16] willwhitney commented on #158
re: using jmp, there's a branch that's basically functional. It will take a minimal refactor to merge.

[2016-02-12 05:48] gnestor commented on #152
Roger that

[2016-02-12 13:05] willwhitney commented on #152
I've also got early designs for a plugin architecture that should smooth
out a lot of the rough spots with Hydrogen:
https://gist.github.com/willwhitney/57b0bcfc03f37d828f6c

No idea if this still seems like a good idea, but it's on the table.

On Fri, Feb 12, 2016, 12:48 AM Grant Nestor <notifications@github.com>
wrote:

[2016-02-12 21:35] #76 closed

[2016-02-15 06:14] dpavlic opened #160 "Result font size"
Is it possible to change the font size in the bubble pop up?  I am getting tiiiiny fonts on my display and my eyes are having a difficult time with it.
![hydrogen](https://cloud.githubusercontent.com/assets/1075079/13041027/6771d61e-d381-11e5-81ef-17fdbc8c795e.png)

[2016-02-15 15:04] kescobo opened #161 "Other python Kernels not recognized"
I did some searching around, but couldn't find an answer to this - pardon if it's already been answered.

Right now, hydrogen only seems to recognize my python 3 kernel, and I don't seem to have the option to change it. I found #138, but when I type "kernel commands" into the command pallet, I only get `interupt` and `restart`.

I'm using OSX (El Cap) and my default python installation is a python

[2016-02-15 21:26] slavaGanzin commented on #160
You can edit your stylesheet and add something like that:
[code]

[2016-02-15 21:35] slavaGanzin commented on #161
This wasn't released yet.

You can:
1. Install hydrogen from repo and use master branch.
2.  Find your kernels with ```jupyter --paths``` (data dirs) and alphabetically rearrange them.

[2016-02-15 21:37] slavaGanzin opened #162 "Release"
It's time to make a release. So how now, with nteract this would be handled?
@rgbkrk

[2016-02-15 22:13] rgbkrk commented on #162
I can give it a shot and see what happens, let me look into the state of things.

[2016-02-15 22:16] rgbkrk commented on #162
Done, shipped it as a minor release.

Hopefully we can start honing in #158 next.

[2016-02-15 22:21] rgbkrk commented on #162
Anyone with push access can make a release (technically speaking that is) and if things are well tested we should ship fairly often.

[2016-02-16 03:50] dpavlic commented on #160
That does it.  Thanks for the prompt reply, this is exactly what I had in mind.  I will close this now.

[2016-02-16 03:50] #160 closed

[2016-02-16 08:03] lgeiger opened #163 "Hydrogen 0.7.0 slow startup"
First of all this is a great software! In the newest release I noticed a small problem:

The first startup of Hydrogen is slow.
It takes a few seconds to connect to the kernel and execute the command. In previous versions this was almost instant.

If the kernel is running everything is as fast as usual.

![hydrogen](https://cloud.githubusercontent.com/assets/13285808/13070330/042725da-d48c-11e5-97

[2016-02-16 22:56] #162 closed

[2016-02-17 09:31] schlichtanders opened #166 "Command to open respective QT-console"
Feature-Request

it would be great to have a command which starts a qt-console/jupyter-process on the kernel used by hydrogen.
Extra Feature: If the qt-console/jupyter-process can optionally be embedded into atom directly, this would be nice, of course.

[2016-02-17 11:27] slavaGanzin commented on #161
@kescobo We just shipped release. So just update hydrogen and you'll get changing kernel functionality.

[2016-02-17 11:27] #161 closed

[2016-02-17 11:40] slavaGanzin commented on #163
I write this code on my SSD and it shines, but on my extra slow HDD it works the same as yours. Besides, for me previous version works slower than new.

Just to clear situation, please, before ```hydrogen:run``` launch couple of times this:
```time ipython kernelspec list --json```

And after that run hydrogen. If this will speedup this command and interface freezing will be gone - notify me here.

[2016-02-17 11:47] rgbkrk commented on #166
Hey @schlichtanders!

Design wise, I'd prefer that we emit an event that another package can listen to for this. That Atom package can then launch the qt-console with:

[code]

As another pane within Atom with a qt-console like experience? I agree! Probably again as a different Atom package, and should definitely exist.

[2016-02-17 12:02] lgeiger commented on #163
Thanks for the response.

I think I know where the Problem is coming from:

I have the latest version of Jupyter installed.
If I run `time ipython kernelspec list --json` I get the following warning:
[code]
The time is `real 0m5.345s`. Notice the 5 second delay.

If I run `time jupyter kernelspec list --json` everythin is fine. The time here is `real 0m0.331s`.

[2016-02-17 12:27] #163 closed

[2016-02-17 16:34] schlichtanders commented on #166
Dear Kyle Kelley,

how would one distinguish the different languages?
E.g. open a qt-console for a running python-kernel and not a R-kernel,
which may run in parallel?

(note, that I lack how events work in atom - maybe my question sounds
rather senseless when having such a background).

On 17 February 2016 at 12:47, Kyle Kelley <notifications@github.com> wrote:

[2016-02-17 16:40] rgbkrk commented on #166
Generally for Jupyter spec conforming projects, a connection file is created somewhere like `~/Library/Jupyter/runtime`:

[code]

Within that file is the information for connecting to that kernel:

[code]

Any frontend, including `jupyter console`, `jupyter qtconsole`, [`sidecar`](https://github.com/nteract/sidecar), [`nteract`](https://github.com/nteract/nteract), and others can use this to conne

[2016-02-17 16:42] schlichtanders commented on #166
thanks for explaining

On 17 February 2016 at 17:40, Kyle Kelley <notifications@github.com> wrote:

[2016-02-17 16:44] rgbkrk commented on #166
At the command line, open up `jupyter console` then run `%connect_info`:

[code]

Using that `--existing` line with the full path, open another terminal on the side and run `jupyter console` with the arguments:

[code]

You'll then see that they're both connected and the second one didn't have to know what language was running.

<img width="1435" alt="screenshot 2016-02-17 08 43 34" src="https://c

[2016-02-17 16:45] rgbkrk commented on #166
`jupyter console` can also take an argument (for the first one launched) for what language/kernel to use:

[code]

No problem.

[2016-02-17 16:48] schlichtanders commented on #166
What would the concrete atom event from hydrogen then signalize?

On 17 February 2016 at 17:45, Kyle Kelley <notifications@github.com> wrote:

[2016-02-17 16:53] rgbkrk commented on #166
Actually, looking at current day Atom APIs, seems like we need to offer [a service that other packages can consume](https://atom.io/docs/v1.5.3/behind-atom-interacting-with-other-packages-via-services). Perhaps a kernel launching service and store?

Just sketching things out here, I don't have a plan for our events. It's worth writing a spec and experimenting with it.

[2016-02-18 09:00] schlichtanders commented on #166
I thought about it again and it seems that the `connect_info` is almost
everything what is needed to know for the qt-console-package. Having a
KERNELPATH variable or such would be enough. But ...

Unfortunately, a short description, including the actual language which is
running on that kernel does not seem to be part of this `connect_info`, or
do I miss something?

Is it possible to add language

[2016-02-18 14:34] rgbkrk commented on #166
If you connect to a kernel using the connection information and need to know the language information, you can send a [`kernel_info` request](http://jupyter-client.readthedocs.org/en/latest/messaging.html#kernel-info).

Example code from [ick, a prototype cli](https://github.com/nteract/ick/blob/master/index.js#L253-L261):

[code]

What do you need to know the language for before launching the Qt

[2016-02-18 14:45] schlichtanders commented on #166
I think about a atom package "launch jupyter qt-console" with an
atom-command like 'qt-console: connect' which searches through paths
defined the package's settings and opens a respective list of available
kernels to connect. You pick one and it opens a qt-console (hopefully with
the option to include it directly in atom)

The concrete list should of course include short readable descriptions
maki

[2016-02-18 14:49] kescobo opened #169 "Hydrogen not appearing in packages"
While trying to solve #161 I uninstalled Hydrogen, then got response that v0.7 has the feature I need so I went to reinstall, now it refuses to work or even show up in packages list. I've tried installing through app, and with `PYTHON=python2.7 apm install hydrogen`. In either case `apm list` shows `Hydrogen@0.7.0` in my package list, but when I open the app, it's not listed under community packag

[2016-02-18 14:53] rgbkrk commented on #166
Ah, I see. In the short term case I think that means we need to implement a [service](http://blog.atom.io/2015/03/25/new-services-API.html) for kernels which would store a lot more metadata. This seems like a good package for atom-notebook to use as well.

In the long term case, we would need the jupyter spec to include more information in the connection info to be compatible. A little bit of this

[2016-02-18 14:54] rgbkrk commented on #169
Hard to tell without logs, though I'd be a bit afraid of our transition to nteract mucking up Atom metadata. Have you fully restarted Atom?

[2016-02-18 15:03] schlichtanders commented on #166
according to this https://github.com/ipython/ipykernel/pull/93 it should
also be possible to add own extra keys to the connection file directly, or
do I miss something?

On 18 February 2016 at 15:53, Kyle Kelley <notifications@github.com> wrote:

[2016-02-18 15:04] slavaGanzin commented on #169
Try to drop ```~/.atom/packages/Hydrogen``` and reinstall. If this wouldn't help try to reinstall atom - they broke things between versions sometimes.

[2016-02-18 16:04] kescobo commented on #169
Uninstalling from command line didn't work. Re-install of Atom worked, but I add to get rid of `~/.atom/ as well. Irritating, but it's working now.

[2016-02-19 18:40] kingjr opened #170 "Q: autocomplete in linux?"
Hi,

Is there a way to have an autocomplete that behaves in the same way as the `tab` in ipython. Eg.
`foo.` + `tab` => gives `foo` attributes.

Thanks for the beautiful package!

[2016-02-19 23:46] slavaGanzin commented on #170
Read this: https://atom.io/docs/latest/behind-atom-keymaps-in-depth
Then press ctrl-. to toggle keymap-resolver, press ctrl-space (default binding for autocomplete) and map to tab your command:

[code]

[2016-02-19 23:47] #170 closed

[2016-02-20 20:33] kescobo opened #171 "Unexpected Token L"
[Enter steps to reproduce below:]

1. Open python or julia file
2. `alt-cmd-enter` or command pallet - `Hydrogen: Run`

After this, hydrogen is disabled and won't run without restarting.

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.4
**Thrown From**: [Hydrogen](https://github.com/willwhitney/hydrogen) package, v0.7.0

### Stack Trace

Failed to activate the Hydrogen package

[code]

### Com

[2016-02-21 22:41] szagoruyko opened #172 "itorch hydrogen does not work after update"
Trying to run hydrogen after update results in this:

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [Hydrogen](https://github.com/willwhitney/hydrogen) package, v0.7.0

### Stack Trace

Failed to activate the Hydrogen package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-22 08:49] n-riesco opened #173 "Hydrogen v0.7.0 incompatible with Ubuntu 14.04 LTS (IPython v1.2.1)"
We shouln't use `spawnSync` if Node.js is version 0.10. See [this commit](https://github.com/nteract/hydrogen/commit/2d372b5b5b7bfc86bad8dd34de9371f661de7582), [this commit](https://github.com/nteract/hydrogen/commit/530b02795864d4b6f19550a14fb4acdfee410d1b) and [this issue](https://github.com/nteract/hydrogen/issues/172).

@slavaGanzin @rgbkrk what are your thoughts on this issue?

[2016-02-22 08:49] n-riesco commented on #172
This bug is **"almost"** fixed in [this commit](https://github.com/nteract/hydrogen/commit/2d372b5b5b7bfc86bad8dd34de9371f661de7582).

It still throws if `jupyter` and `ipython` aren't installed.

CC @lgeiger

[2016-02-22 10:23] slavaGanzin commented on #173
I tested async methods and the only thing it fixes - small freeze of UI on hydrogen start.
 Jupyter/ipython works slow on building list of kernels (second on my not so fast ssd, two-tree on hdd), but cache them after first run.

What I can propose:
1. memoize kernels in hydrogen settings or in file
2. on getAvailableKernels call we return our cached version and trigger async update of kernels cach

[2016-02-22 10:26] #169 closed

[2016-02-22 10:27] slavaGanzin commented on #157
@carter-lavering We work on this. Thanks

[2016-02-22 10:27] #157 closed

[2016-02-22 10:30] #126 closed

[2016-02-22 11:25] n-riesco commented on #173
I'd like to find a solution that is kind to Ubuntu users.

I think having the option to store kernel specs in the Hydrogen settings would help a little. An Ubuntu user could edit the settings to workaround this issue. However, this won't do for Ubuntu users that lack the technical knowledge to create a kernel spec.

In the past, I thought of adding a flag to install the IJavascript kernel in Hydro

[2016-02-22 11:49] slavaGanzin commented on #173
What the trouble with Ubuntu? They don't have ipython or jupyter in their paths?
@n-riesco Can you explain this in depth, please?

In iTourch docs i found this:
[code]
So they should have iPython to work. And so it isn't in PATH as I think.

I don't wont user to edit anything, just memoize kernelspecs generated by ```jupyter kernelspec``` or ```ipython kernelspec``` in a file to speedup a little

[2016-02-22 11:51] slavaGanzin commented on #172
@szagoruyko do you have ipython in your PATH?

```$ ipython --version```

[2016-02-22 12:00] n-riesco commented on #173
The issue is that `spawnAsync` is not available in Node.js 0.10 (which is the version provided in Ubuntu 14.04 LTS). Ubuntu releases LTS versions every 2 years, and supports each of them for 3 years. The upcoming Ubuntu 16.04 LTS won't be affected by this issue.

[2016-02-22 12:37] slavaGanzin commented on #173
I don't think this is high priority feature. If I found time to rewrite it in async way I'll do it. If you or someone else do PR it would be great.

Just curious: Why are you using necrostable lts on development machine?

[2016-02-22 13:16] n-riesco commented on #173
To ensure Hydrogen runs in the version that Ubuntu currently advertises as ["recommended for most users"](http://www.ubuntu.com/download/desktop).

[2016-02-22 15:32] szagoruyko commented on #172
@slavaGanzin @n-riesco thanks, adding anaconda/bin to PATH solves the issue.

[2016-02-22 15:48] slavaGanzin commented on #172
This should be fixed when dependecies.js would be released.

@szagoruyko Thanks for your patience

[2016-02-22 15:48] #172 closed

[2016-02-22 16:11] lgeiger commented on #132
https://github.com/nteract/hydrogen/pull/165

[2016-02-22 16:11] #132 closed

[2016-02-22 16:12] lgeiger commented on #74
https://github.com/nteract/hydrogen/pull/164

[2016-02-22 16:12] #74 closed

[2016-02-22 17:39] slavaGanzin commented on #173
Added notification:
https://github.com/nteract/hydrogen/commit/80874a9a2141e5f506ae1d28c678e10edc31c8f1

Can you test this?

[2016-02-22 17:50] n-riesco commented on #173
Do I understand correctly? You want to prevent the installation of Hydrogen on Node.js 0.10 systems? If so, I don't support this change.

[2016-02-22 18:26] n-riesco commented on #173
I have to leave now. Let's continue discussing the options to address this issue tomorrow.

BTW, have you seen https://www.npmjs.com/package/ipython-paths and https://www.npmjs.com/package/jupyter-paths ?

[2016-02-22 19:04] slavaGanzin commented on #173
Yeah we discussed that with Kyle. @rgbkrk https://github.com/nteract/hydrogen/pull/145

I don't want to rewrite half of hydrogen (all code is synchronous) to achieve small improvement - non freezing for half second. I've tried couple times, but haven't found enough motivation.

Doing the same to support Ubuntu LTS, really?
So I add notification for users who are more interested in hydrogen than in

[2016-02-22 20:52] rgbkrk commented on #173
I agree with doing away with `spawnSync`, relying on the asynchronous libraries we've been writing for Jupyter support in general. I'm not going to go back and forth on measurements if we don't have benchmarks. The fact is, JS is an asynchronous language by design and the slow startup is an issue for less beefy boxes - we can't act like our dev boxes are the best reflection.

Atom isn't using 0.10

[2016-02-22 20:54] rgbkrk commented on #169
Thanks for getting through it @kescobo.

[2016-02-23 15:38] kingjr opened #174 "BUG: Check ticks above search panel"
I'm running with Ubuntu 14.04 and atom 1.0.5 and see the tick marks above the search panel:

![bug_hydrogen](https://cloud.githubusercontent.com/assets/4881164/13256646/86169fd4-da19-11e5-878c-b144564bc5e5.png)

[2016-02-24 10:04] slavaGanzin commented on #171
@kescobo Here we go again. Please paste here output of this two commands:
[code]

[2016-02-24 14:40] kescobo commented on #171
Heh, yeah - no kidding. It worked for a sec after I upgraded, then the next day... Ugh. Sorry for the bother.

[code]
And...
[code]

[2016-02-24 16:30] n-riesco commented on #171
Please, could you open the dev console in atom (shift-ctrl-i), run the following code and see whether you get the same error?

[code]

[2016-02-24 16:44] kescobo commented on #171
Doesn't seem to.

[code]
[code]

Looks like I can expand `kernelspecs` and `__proto__`, not sure how to send along all of the info.

[2016-02-24 16:55] n-riesco commented on #173
@rgbkrk You're right Atom is using Node.js v4.1.1.

I've tracked the problem down to the IPython version installed in Ubuntu 14.04.

IPython v1.2.1 doesn't understand the command `ipython kernelspec list  --json`. This causes [this line](https://github.com/nteract/hydrogen/blob/80874a9a2141e5f506ae1d28c678e10edc31c8f1/lib/kernel-manager.coffee#L13) to throw en exception.

[2016-02-24 17:05] n-riesco commented on #171
No need to post all the info. The fact that doesn't throws an error is confusing enough.

Your first log indicates that the error is happening somewhere in [this lines](https://github.com/nteract/hydrogen/blob/80874a9a2141e5f506ae1d28c678e10edc31c8f1/lib/kernel-manager.coffee#L9-L14) more specifically in the `parse` function.

Could you confirm that you can still reproduce this issue despite the a

[2016-02-24 17:52] rgbkrk commented on #173
Have you tried out aggregating outputs from `ipython-paths` and `jupyter-paths`?

[2016-02-24 18:56] kescobo commented on #171
Confirmed. I opened a new python file, typed `2+2` and then `Hydrogen: Run` and it pops up.

[2016-02-24 19:23] n-riesco commented on #173
@rgbkrk `apm` doesn't seem to be using Node.js v4.1.1:

[code]

[2016-02-24 19:28] n-riesco commented on #173
[code]

[2016-02-24 19:34] n-riesco commented on #173
[code]

[2016-02-24 19:35] n-riesco commented on #173
https://github.com/atom/apm/issues/328

[2016-02-24 19:46] n-riesco commented on #171
@kescobo If you need a workaround for the time being, I would revert to Hydrogen version 0.6.5:

[code]

[2016-02-24 19:57] slavaGanzin commented on #173
dependecies.js wasn't shipped into 0.7.0 - it's experimental. I have removed decencies check https://github.com/nteract/hydrogen/commit/9564649746729a97a5556dcb2813425c05574944

Will rewrite this later with ```exec``` and create PR

[2016-02-24 20:06] n-riesco commented on #173
@slavaGanzin You're right, I've just check and it seems to install:

[code]

but now Hydrogen doesn't seem to load:

[code]

[2016-02-24 20:25] kescobo commented on #171
That works, though now I need to figure out a way to select the python kernel again :-).

[2016-02-24 20:34] n-riesco commented on #173
@slavaGanzin

I haven't tested the code below, but I was hoping to have the option to define kernelspecs in the Hydrogen settings:

[code]

[2016-02-24 20:57] slavaGanzin commented on #173
```jupyter kernelspec``` substitute functionality ```ipython kernelspec``` so it's fallback and shouldn't merged together. https://github.com/nteract/hydrogen/issues/163

Why you need self-defined kernelspecs?

[2016-02-24 21:12] n-riesco commented on #173
Because in Ubuntu 14.04 both `jupyter kernelspec` and `ipython kernelspec` fail.

Having the option to define kernelspecs in the Hydrogen settings not only helps workaround this issue, but also helps with issue #38 .

[2016-02-24 21:17] lgeiger commented on #174
I can reproduce this problem. In the meantime you can add
[code]
to your stylesheet to fix this issue.

[2016-02-24 21:43] slavaGanzin commented on #173
And how your ipython installation works than?
Maybe you have no ipython or jupyter in your PATH?
Or you have outdated version of ipython?

[2016-02-24 21:54] lgeiger opened #176 "Allow Hydrogen to work if Atom isn't started from the Terminal"
I did a bit of research on this topic and found this solution (https://discuss.atom.io/t/atom-command-doesnt-pass-environment-variables-to-atom/1596) that worked for me on Mac.

I added the following to my Init Script of Atom.
[code]
This allows Atom to get the correct PATH variables. Now Atom can be started as an app and Hydrogen works without compromises.

If this works on Windows and Linux as w

[2016-02-24 22:17] n-riesco commented on #173
I've checked and the code below works for me:

[code]

[2016-02-24 22:20] n-riesco commented on #173
@slavaGanzin IPython v1.2.1 doesn't recognise the option `kernelspecs`:

[code]

[2016-02-24 22:39] slavaGanzin commented on #173
https://github.com/nteract/hydrogen/pull/177 Play with this branch.

kernelspecs option should work too. How would you generate it?

[2016-02-25 12:26] slavaGanzin commented on #174
@lgeiger May I advice you to create separate PR for separate issues.
It easy to merge this: https://github.com/lgeiger/hydrogen/commit/d784006c0987c274ea463f0e9f734017d3c7422e
But not this: https://github.com/nteract/hydrogen/pull/175

[2016-02-25 12:57] lgeiger commented on #174
My bad, I'll create an separat PR tomorrow.

[2016-02-25 13:52] slavaGanzin commented on #176
Maybe, I said just maybe. Launch such code at preinstall as here: https://github.com/nteract/hydrogen/commit/9564649746729a97a5556dcb2813425c05574944#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L29

And save it to options? So you can edit your hydrogen PATH.

I don't need this functionality at all, so just curious

[2016-02-25 15:39] #174 closed

[2016-02-25 17:38] slavaGanzin commented on #173
#177 Should fix it

[2016-02-25 17:38] #173 closed

[2016-02-25 20:11] slavaGanzin commented on #171
Will fix when merged https://github.com/nteract/hydrogen/pull/177

[2016-02-25 20:56] niderhoff opened #178 "No rule to make target"
Hey, I am trying to build hydrogen on OSX 10.11.3 using Atom 1.6.0-beta5. All dependencies are installed (according to installation guide) and everything is available in path for Atom. I managed to build hydrogen twice already (once on OSX 10.10. using an identical setup), however it fails after updating to El Capitan (OSX 10.11).

[code]

Getting same error message whether I install from within c

[2016-02-26 09:37] slavaGanzin commented on #178
Did you try to remove package first and then install? Did you try to install zmq separately? ```npm install zmq```

[2016-02-26 10:22] n-riesco commented on #178
Judging by this line in your log:

    make: *** No rule to make target ../../../../../../../../../../../../Applications/Atom', needed byMakefile'. Stop.

I would guess, it may be a problem with your installation of Atom.

This log message indicates that there is a Makefile that can't locate your installation of Atom.

I'm not familiar with `apm-beta`. Is it perhaps that `Atom` has been renamed `A

[2016-02-26 10:33] niderhoff commented on #178
@n-riesco In my desperation I also tried renaming `Atom.app` back to `Atom.app` but that didn't change anything.

@slavaGanzin Yes I did.

[2016-02-26 11:32] n-riesco commented on #178
@niderhoff Oh, I see! it looks like `../../../../../../../../../../../../Applications/Atom` is actually a truncated path `../../../../../../../../../../../../Applications/Atom Beta.app`. If that's the case renaming or linking won't help.

I think this issue has been reported to on the `apm` repository [here](https://github.com/atom/apm/issues/499).

[2016-02-26 11:53] niderhoff commented on #178
Well I am not sure if that is the issue exactly though. If I run it on another machine (same setup, same atom version) it works:

[code]

[2016-02-26 12:48] n-riesco commented on #178
Well, at least you now know that it can work with `apm-beta`. Here's another guess: perhaps, node-gyp fails because there are some stale files in ` ~/.atom/.node-gyp/`.

[2016-02-26 13:30] YugoCode opened #179 "Unexpected end of input"
[Enter steps to reproduce below:]

1. I just installed hydrogen successfully and after pressing Alt+Shift+Enter of a simple hello world script I get this error.

**Atom Version**: 1.5.3
**System**: Ubuntu 15.10
**Thrown From**: [Hydrogen](https://github.com/willwhitney/hydrogen) package, v0.7.0

### Stack Trace

Failed to activate the Hydrogen package

[code]

### Commands

[code]

### Config

[co

[2016-02-26 14:04] YugoCode commented on #179
I didn't notice that `pip install ipython[notebook]` terminated with an error, I fixed it and now it is working.

[2016-02-26 14:04] #179 closed

[2016-02-26 17:04] niderhoff commented on #178
Completely wiped atom, node and all dependencies and reinstalled it. Same result.

[2016-02-26 17:28] n-riesco commented on #171
@kescobo Hydrogen v0.7.1 has just been released. Could you test whether it works in your machine?

[2016-02-26 17:54] n-riesco commented on #178
Perhaps relevant:
https://github.com/nodejs/node-gyp/issues/734
https://github.com/nodejs/node/issues/2933

[2016-02-26 18:23] lgeiger commented on #66
See https://github.com/nteract/hydrogen/pull/175

[2016-02-26 18:23] #66 closed

[2016-02-29 23:44] jdknox opened #180 "Failed to activate the Hydrogen package"
It seems like Hydrogen now requires libzmq5 instead of libzmq3, is this correct?  Hydrogen (0.7.0) was working fine for me until I updated to 0.7.1.  I cannot roll back now, however, since I get the same error.  I'm trying to figure out if I did something else to break this on my end...

[Enter steps to reproduce below:]

[code]

**Atom Version**: 1.5.3
**System**: Ubuntu Xenial
**Thrown From**: [

[2016-03-01 02:25] rgbkrk commented on #180
We tend to require `libzmq3`, there is no libzmq 5 (4.1 was the last release of libzmq, with 4.2 likely to come down the pipe relatively soon). What does `apt-cache search libzmq` show?

[2016-03-01 04:49] jdknox commented on #180
For some reason, the `libzmq` 4.1 lib is named libzmq.so.5 on my machine.  I have anaconda installed and it uses the same naming convention in my conda env lib directory:
[code]
Even zeromq.org [references](http://zeromq.org/build:_start) libzmq.so.5 for zeromq 4.1, which I admit, confuses me (see Running Example heading about halfway down that link).

Here is the result of running the apt-cache s

[2016-03-01 07:27] jdknox commented on #180
I've got Hydrogen working again!  It feels like a blindfold has been lifted; Hydrogen has spoiled me. :-)

For what it's worth, I removed all traces of zeromq, ipython and Hydrogen, reinstalled them all using my anaconda env instead of using pip, then deleted atom's compile-cache folder.  In the end I had to install Hydrogen 0.7.0 and zeromq 4.0.5 to get it to work.  Thanks for helping me look int

[2016-03-01 08:24] n-riesco commented on #180
On 01/03/16 07:27, Jeff wrote:

Personally, I think what fixed your problem was removing the cache folder.

Have you tried to upgrade to 0.7.1? If you do so, make sure the libraries in your environment (pip or anaconda) are the same as those used to install Atom and the plugins.

[2016-03-01 09:52] slavaGanzin commented on #180
Just curious. Would ```apm rebuild``` fix this issue?

[2016-03-01 10:13] n-riesco commented on #180
A word of caution: `apm rebuild` should be run on the same folder Hydrogen was installed.

[2016-03-01 15:45] galou opened #182 "run-and-move-down could work on empty line"
and simply jump to the next line.

PS: Hydrogen is great! Thanks!

[2016-03-01 16:17] n-riesco commented on #182
I will have a look at this issue.

@slavaGanzin , @rgbkrk What are your thoughts? I see two ways to approach this issue:
- change the way Hydrogen identifies what a code block is and allow empty lines
- or change the logic to move down the cursor and ensure it moves to the beginning of the next code block.

[2016-03-01 16:49] slavaGanzin commented on #182
I think it "change the way" wouldn't be easy:
https://github.com/nteract/hydrogen/issues/155

So I vote for an easiest approach - check if line isn't empty.

[2016-03-03 19:29] #92 closed

[2016-03-06 15:32] #182 closed

[2016-03-09 12:26] n-riesco commented on #158
I'm interested in translating KernelManager to ES6.

As a first step, I've moved some of the code in `main.coffee` to `kernel-manager.coffee` (see PR #187 ).

[2016-03-09 12:38] n-riesco commented on #55
@tusing I'm closing this issue as duplicate of #53 . Please, feel free to reopen if this is not the case.

[2016-03-09 12:38] #55 closed

[2016-03-09 12:43] n-riesco commented on #59
@suranah `apm rebuild`didn't solve the problem for me. Something that has worked for me in the past is:

[code]

[2016-03-09 12:46] n-riesco commented on #88
I'm seen this issue with `libzmq3-dev`. Unfortunately, I can't trigger it in a reproducible way.

[2016-03-09 14:13] n-riesco commented on #88
This seems to be a synchronisation problem. Sometimes the first few messages on the ioSocket don't reach Hydrogen (i.e. they don't show in the console log).

I don't understand how this is possible. @minrk , is it possible for a `sub` socket to miss messages?

I suspect this is also the cause of #53 .

[2016-03-09 14:45] minrk commented on #88
It does take a finite amount of time for subscriptions to propagate from the subscriber to the publisher, and messages published before this time will be discarded by the publisher and the subscriber will not see them. Typically, this time is on the order of milliseconds. It would be very difficult for it to not have established this connection by the time a first execution request has been handle

[2016-03-09 15:12] n-riesco commented on #88
I don't know the reason, but in Atom, the ioSocket connection is not established immediately. In the cases when I see the issue reported here, the ioSocket connection happens after the second shell request.

[2016-03-09 15:14] minrk commented on #88
One thing you can do is perform a kernel_info request at startup, prior to allowing execution. This allows you to ensure that the kernel is up and responsive before you start submitting execution requests. Each kernel_info request should also produce status idle/busy messages on the IOPub channel, so you can also use it to verify that IOPub is hooked up.

[2016-03-09 15:35] n-riesco commented on #88
I've tried to send a kernel_info_request, but sometimes it's still fails.

[2016-03-09 15:46] minrk commented on #88
You could keep trying kernel_info until you get the status messages:

[code]

If that takes more than one or two iterations, something is probably wrong.

[2016-03-09 16:06] rgbkrk commented on #158
We've got `zmq-prebuilt` working for 64-bit OS X and Linux (as well as some portion of Windows) if we want to start using that. Those who aren't able to use the prebuilt will end up letting the normal build run. Worth testing:

* https://github.com/nteract/zmq-prebuilt
* https://github.com/rgbkrk/zmq-prebuilt-example

[2016-03-09 17:32] slavaGanzin commented on #158
@n-riesco

I'll veto this. It just kill simplicity and regard you with nothing.

Why all of you need that ES6? Do you want additional deps as babel and fight with their codebase? They constantly forget to manage dependecies and I couple of times couldn't run a project because all that monstrous deps tree can't be satisfied. And of course you need build system - gulp written by guys thinking they n

[2016-03-09 17:40] slavaGanzin commented on #88
Please don't use ```while true``` in synchronous atom it will freeze everything.

[2016-03-09 17:53] rgbkrk commented on #158
It's hard for me to understand what's wrong with the ok and fails there, likely because I understand the syntax very clearly for ES6. Now, I put it on my wishlist because I personally have noted better participation within JS code bases over coffeescript code bases. JavaScript is the language that offends equally. We don't even have to use Babel though, we can use the current day version of ES5 an

[2016-03-09 18:14] rgbkrk commented on #158
What I should do know is acknowledge how you're feeling about this @slavaGanzin. You're strongly opposed to ES6, want to carry on with CoffeeScript. This should be a fun project for you and others to work on. As long as you're still submitting PRs and merging others' PRs, we're moving along together.

Even if we disagree, the consensus is in the current code base. What would you like to see us do

[2016-03-09 18:45] slavaGanzin commented on #158
@rgbkrk
I'm not strongly opposed to ES6, I'm strongly opposed to bilanguage projects and changing languages because we can. If hydrogen had been written in es5 I wouldn't even imagine to migrate to coffeescript.

 And here where it bites: I can't use "es6" I should use es6 that atom supports.

 I personally have noted better participation within Go code bases, should I rewrite couple thousands LOC

[2016-03-09 18:57] rgbkrk commented on #158
You seemed very opposed to using Babel, I offered an alternative that would require no build steps. I'm not stating it as the only way, primarily seeking feedback.

Seems like there's a hard stance on sticking with CoffeeScript. I'll remove my anecdote way above and we can continue the conversation in a positive direction.

[2016-03-09 18:58] n-riesco commented on #88
@minrk I've tried sending up to 5 `kernel_info_request` and sometimes it's still failing. The relevant code is [here](https://github.com/n-riesco/hydrogen/blob/161c8ffb484afc9f8480f4ee5ad17451e3dcc008/lib/kernel.coffee#L103-L128).

I wish I could imagine why initial connection of a ZMQ socket in Atom is stalled for so long.

I've noticed that saving the document triggers the connection. I'm not su

[2016-03-09 19:57] n-riesco commented on #158
@slavaGanzin OK, I'll keep my contributions in Coffeescript.

[2016-03-09 22:40] minrk commented on #88
@slavaGanzin I wasn't proposing anyone use `while true`. That was pseudocode for the logic of repeating kernel info requests until idle messages are received on the IOPub channel.

@n-riesco Sorry, I'm not familiar enough with the Hydrogen code, but I don't see the checks for IOPub messages related to that kernel_info request. Are they there, but I'm not seeing them?

[2016-03-09 23:34] slavaGanzin commented on #88
@minrk Sorry didn't notice that. Thanks for you participating

[2016-03-10 10:10] n-riesco commented on #88
@minrk It's perfectly understandable that you find difficult to see the checks. We're in the process of moving the code to use [jmp](https://github.com/n-riesco/jmp) and [enchannel-zmq-backend](https://github.com/nteract/enchannel-zmq-backend) with the hope that this will simplify Hydrogen's code.

The check is done [here](https://github.com/n-riesco/hydrogen/blob/161c8ffb484afc9f8480f4ee5ad17451e

[2016-03-10 15:16] n-riesco commented on #158
Just to let everyone know, I'm planning to work on:

* use [jmp](https://github.com/n-riesco/jmp) / [enchannel-zmq-backend](https://github.com/nteract/enchannel-zmq-backend) for the kernel messaging

[2016-03-11 08:34] n-riesco commented on #158
I've updated the list of goals and moved the use of `enchannel-zmq-backend` under the section for switching to async.

[2016-03-11 17:03] #43 closed

[2016-03-11 19:22] n-riesco commented on #48
This issue is still present in v0.7.1

[2016-03-11 22:04] n-riesco commented on #48
[This comment](https://github.com/atom/atom/issues/6857#issuecomment-128684193) shows the issue clearly.

[2016-03-11 22:16] rgbkrk commented on #48
Block decorations should be the way forward. http://blog.atom.io/2016/02/03/introducing-block-decorations.html

[2016-03-11 23:21] n-riesco commented on #48
@rgbkrk I've tried the following in 1.7.0-dev-7040035 and it doesn't seem to work:

[code]

![untitled](https://cloud.githubusercontent.com/assets/6199391/13718225/f5342d68-e7df-11e5-8f21-df6ae019e4ed.png)

[2016-03-14 02:25] themiguelamador commented on #176
I can run Julia without opening from terminal since ever on Mac...

[2016-03-14 03:21] rgbkrk commented on #176
I'll bet that's because your kernel is installed properly, as is the case for non-Python kernels (the default kernel of `jupyter`'s Python is not installed to a kernelspec directory by default).

[2016-03-14 10:39] slavaGanzin commented on #176
Is this issue actual? I thought, Hydrogen launch ```jupyter kernelspec``` and so it shouldn't depend on the way atom was launched.

[2016-03-14 12:30] lgeiger commented on #176
I tried again with the latest version of Hydrogen and it works now with the python kernel. That wasn't the case with version 0.6.5.

The only problem is, python modules wich are not installed in the standard directory are not detected by hydrogen. Is there any way of telling hydrogen where to find them?

[2016-03-14 13:09] lgeiger commented on #176
I can put the path to the external python module in my init script and everything works as expected:
`process.env.PYTHONPATH = ['/usr/local/opt/root6/lib/root', process.env.PYTHONPATH].join(':')`

Is there an easy language independent way to tell hydrogen where to find external packages in the settings?
If this is some special use case wich would be hard to include in hydrogen feel free to close t

[2016-03-14 13:40] n-riesco commented on #176
Does this issue affect Windows?

Is this issue limited to Mac?

If it's limited to Mac (or Windows isn't affected), a solution simpler than [this](https://github.com/nteract/hydrogen/issues/176#issue-136197899) would be:

[code]

[2016-03-14 14:36] lgeiger commented on #176
@n-riesco I don't know. I can't test on Windows.

[2016-03-14 16:18] n-riesco commented on #176
The bug doesn't seem to affect Ubuntu 14.04 when the kernelspec is set to:

[code]

[2016-03-15 00:30] lgeiger commented on #176
I have this problem just with one python module which wasn't installed via `pip` and isn't located in the default python directory. So maybe this isn't hydrogens fault but rather the package itself.

[2016-03-15 07:12] n-riesco commented on #176
On 15/03/16 00:30, Lukas Geiger wrote:

Perhaps, I'm misunderstanding the issue. Could you describe how to reproduce it?

[2016-03-15 10:35] lgeiger commented on #176
Yeah my description wasn't clear at all:

I have python and all my modules installed via `pip` in the default location. So far Hydrogen works as expected. There is no difference if Hydrogen is started from the terminal or as an app.

Now to my problem:
I have one python module which is installed as part of an software package (https://root.cern.ch/pyroot) in a different directory. The installation

[2016-03-15 10:48] n-riesco commented on #176
@lgeiger This may be an issue on where your system sets PYTHONPATH. In my machine, when I run Atom using a .desktop file, I have no problem to see the environment variables set in `~/.profile`.

[2016-03-15 10:59] n-riesco commented on #176
@rgbkrk Is there still an issue on Mac? Are the user's environment variables visible when Atom isn't run from a terminal?

[2016-03-15 12:38] lgeiger commented on #62
https://github.com/nteract/hydrogen/pull/193

[2016-03-15 12:38] #62 closed

[2016-03-15 13:50] rgbkrk commented on #176
This should be solved *soon*, with a coming Atom release:

See:

* https://github.com/atom/atom/issues/6956
* https://github.com/atom/atom/pull/11054

[2016-03-15 13:53] #96 closed

[2016-03-15 14:05] n-riesco commented on #176
@lgeiger Shall we close this issue?

[2016-03-15 14:06] #176 closed

[2016-03-15 14:22] n-riesco commented on #158
Hi everyone, I've moved this issue to a [wiki page](https://github.com/nteract/hydrogen/wiki/Roadmap).

I would like to use it as a means to tell us each other what we are working on.

@lgeiger, I know you looked into using `transformime`. I'm interested in giving it another go (it would help me simplify and reduce the code in `kernel.coffee`).

[2016-03-15 14:25] rgbkrk commented on #158
That's great! Thanks @n-riesco. I'll close this issue.

[2016-03-15 14:25] #158 closed

[2016-03-15 14:33] lgeiger commented on #158
Great!

[2016-03-15 14:36] n-riesco opened #198 "[DISCUSSION] Introduce convention to identify private methods"
I've been reading through more of Hydrogen's code and I would like to introduce **the convention that the names of private methods and properties start with an underscore `_`**.

I'm going to use the `Kernel` class as an example to support this convention.

Currently, `Kernel` defines the following methods: `stderr, connect, interrupt, _execute, execute, executeWatch, complete, inspect, addWatchCa

[2016-03-15 14:55] n-riesco opened #199 "[DISCUSSION] Avoid "Java getters""
I've been reading through more of Hydrogen's code and I've noticed an inconsistent use of what I call here "Java getters" (sometimes, we use the method, `getElement`; sometimes, we access the property `element` directly).

For example, if I grep the code for `getElement` and `.element`:

[code]

There is no need for "Java getters" like `getElement`, we can always define them in Javascript like [th

[2016-03-15 15:30] slavaGanzin commented on #199
NP

[2016-03-15 15:34] slavaGanzin commented on #198
:+1:

[2016-03-15 18:02] lgeiger opened #200 "[Discussion] modify Hydrogen icon"
What do you think about modifying the Hydrogen icon?
I played a bit with the colors and the stroke width. The color is from atoms default theme so it fits in well.
Old vs new:
<img width="253" alt="old" src="https://cloud.githubusercontent.com/assets/13285808/13788243/594dbcc2-eadf-11e5-9838-d21fee8b6323.png"><img width="257" alt="new" src="https://cloud.githubusercontent.com/assets/13285808/13788

[2016-03-15 20:49] lgeiger commented on #48
@n-riesco if you remove [this line](https://github.com/nteract/hydrogen/blob/master/styles/hydrogen.less#L29) the result should be displayed. But of course the styling will be totally messed up.

[2016-03-15 21:31] rgbkrk commented on #200
Could we apply a filter based on the user's theme?

[2016-03-15 21:46] n-riesco commented on #48
@lgeiger Here's how it looks like after removing `position: absolute`:

![untitled](https://cloud.githubusercontent.com/assets/6199391/13795144/5723b48e-eaf7-11e5-8577-7a5f033fa62b.png)

[2016-03-15 23:31] Underbite-productions opened #201 "No kernal for language python found"
Great work creating a more interactive environment for atom, but alas for me I cannot get it to work ...

I think this maybe something to do with setting correct kernal path, but I cannot find kernal.json file use as a reference in the settings.

When I go run a line of python code (cmd+shift+P hydrogen: run), this is the error i get (see screen shot attached):

No kernal for language python found

[2016-03-15 23:55] lgeiger commented on #200
That would be great. But I don't know if this is possible.

[2016-03-16 00:21] lgeiger commented on #201
If your editor grammar is set to `MagicPython` instead of `Python`, hydrogen is searching for a kernel named `magicpython` rather than `python`. You can check this setting at the lower right corner of Atom.

Either change the grammar of your editor to `Python` or if you like to keep the syntax highlighting of MagicPython add `{"MagicPython": "python"}` to `Language Mappings` in the Hydrogen settin

[2016-03-16 18:40] slavaGanzin commented on #201
@lgeiger Are sure? I have opposite key/values:
```{"babel":"Babel ES6 Javascript", "babel":"Javascript with jsx"}```

[2016-03-17 14:13] slavaGanzin opened #203 "Kernel hardcode"
Anybody knows is this lines actual?
https://github.com/nteract/hydrogen/blob/master/lib/kernel.coffee#L33-L45

This clobber should be removed.

[2016-03-17 16:53] n-riesco commented on #203
In the past, it was possible for Hydrogen to run IPython without installing a kernel spec. Last time I tried this, it didn't work and I had to set the kernel spec in Hydrogen's settings.

[2016-03-17 17:49] n-riesco commented on #203
Just to be clear:

To decide whether that piece of code should be fixed or removed, we need to decide whether Hydrogen will support only installed kernels.

I've just checked the `README.md` and I think it needs updating:

- the dependencies section should specify what versions (Atom. Node, IPython, Jupyter, ZMQ) are required.

- stress more the need to install a kernel.

[2016-03-17 17:56] rgbkrk commented on #203
I agree with this one. Jupyter assumes a default kernel of the python for that version of jupyter. We can't reliably start what the "default" is either. We need our instructions to include:

[code]

[2016-03-17 21:29] dpavlic opened #204 "Plotting does not work."
I have an odd problem where graphs will not show.  Sometimes they will show, but they pop up in a new window.  Most of the time, however, they just plain do not work.  I am reproducing a very simple matplotlib graph (indeed, this is on their example page) that works in qtconsole.  Code below:

`
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

t = np.arang

[2016-03-17 21:31] dpavlic opened #205 "Pandas dataframes cut off"
Attempting to display a pandas dataframe returns a HTML representation (great!), however, scrolling around the dataframe does not seem to work: the display clips.
![dataframe_issue](https://cloud.githubusercontent.com/assets/1075079/13861880/24f68cb4-ec66-11e5-9996-9343370d2b0f.png)

[2016-03-17 22:57] n-riesco commented on #204
What you see is the output of the last command `plt.show()`, which doesn't return anything.

Try adding `plt` at the end of your code:

[code]

[2016-03-17 23:12] n-riesco commented on #205
I can confirm this is also happening in master.

@slavaGanzin , @lgeiger , @rgbkrk,  Perhaps, we should offer the option to show large results in a tab.

I've been also toying with the idea that large outputs are initially shown collapsed, and expand only when clicked.

[2016-03-17 23:17] n-riesco commented on #204
This is working in master.

I will check if I can reproduce the issue in the package available on the Atom package repository.

[2016-03-17 23:28] n-riesco commented on #204
It's working for me on v0.7.2.

@dpavlic Could you open the dev console in Atom (press shift-ctrl-i) and run the code again.

You will see many log messages in the console. The one I would like to see is the last IO message that has the `prefix` set to `"display_data"`. This is what I see in my case:

![untitled](https://cloud.githubusercontent.com/assets/6199391/13864257/e83e39c0-ec97-11e5-89dd-1

[2016-03-18 01:51] dpavlic commented on #204
Well, this definitely gets me somewhere!

`
Refused to load the image 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAEZCAYAAAC5AHPcAAAABHNCS…EYRlaYATEMwzCywgyIYRiGkRVmQAzDMIysMANiGIZhZMX/A2UzvhGjTNruAAAAAElFTkSuQmCC' because it violates the following Content Security Policy directive: "default-src *". Note that 'img-src' was not explicitly set, so 'default-src' is used as a fallback.
module.

[2016-03-18 01:55] dpavlic commented on #205
Those are both great ideas... particularly the tab.  I should not the content clips horizontally if the dataframe is set as a watch, though it will scroll vertically.

[2016-03-18 04:07] sbromberger opened #206 ""Can't parse neither ipython kernelspecs nor jupyter kernelspecs" error"
I'm running into this issue now. I upgraded to Atom 1.6.0, and am using Hydrogen 0.7,2 with zmq 4.1.4 and jupyter 4.1.0. Despite the error in Atom, I can do:

[code]
and the same for ipython (but the latter gives me a deprecation warning).

How do I fix this?

[2016-03-18 04:12] sbromberger commented on #206
Hm. it works when I launch atom from the command line. But I thought this was fixed via #176?

[2016-03-18 07:23] n-riesco commented on #206
On 18/03/16 04:12, Seth Bromberger wrote:

This is Atom's issue https://github.com/atom/atom/pull/11054 .

I can see that although the fix is not in Atom 1.6.0 it's now present in 1.7.0-beta0.

BTW, is this issue limited to OS X?

[2016-03-18 08:44] n-riesco commented on #204
I've just noticed that the development version of atom that I'm using has a "Content-Security-Policy" awfully unsafe:

![untitled](https://cloud.githubusercontent.com/assets/6199391/13872708/4a8eb69e-ece4-11e5-9332-4832c41330a4.png)

@dpavlic Please, could you check what "Content-Security-Policy" your Atom installation is using?

- Open the dev console (press shift-ctrl-i).
- Press shift-ctrl-c to

[2016-03-18 09:29] n-riesco commented on #204
It seems to me that this is an issue in Atom, which is "fixed"  in Atom 1.7.0-beta0; more specifically, in this PR https://github.com/atom/atom/pull/9627 .

[2016-03-18 14:10] sbromberger commented on #206
I'm using OSX (El Cap 10.11.3) and can't speak to any other OS. Sorry.

[2016-03-18 14:58] dpavlic commented on #204
Content security policy is same as your example above.  I will pull the beta and report soon.

[2016-03-18 16:29] n-riesco commented on #204
That's surprising! I posted what I get using the beta.

I believe Atom v1.6.0 is missing `img-src data: *;` in the `"Content-Security-Policy"` and that makes Hydrogen fail the security policy..

[2016-03-18 18:50] lgeiger commented on #203
Node is just a development dependency, isn't it? I remember using hydrogen in the past without a separate Node installation on my system. Or am I wrong?

[2016-03-18 18:56] lgeiger commented on #200
I tried it but couldn't get a filter based on the user's theme to work.

[2016-03-18 19:26] rgbkrk commented on #203
As long as Atom is able to build zmq from within Atom, you don't have to have node installed globally. Actually, as long as `apm` handles the node-gyp stuff correctly, we don't have to have node.

[2016-03-18 19:27] rgbkrk commented on #200
That's ok. I think we'd have to switch formats to use CSS filters well here.

[2016-03-18 19:57] lgeiger opened #209 "error notifications don't show up"
Since #202 the error notifications disappeared for me.

I'm talking about these notifications:
<img width="487" alt="bildschirmfoto 2016-03-18 um 20 49 42" src="https://cloud.githubusercontent.com/assets/13285808/13890401/8c71008c-ed4b-11e5-84ec-bd7ad3d74c39.png">

[2016-03-18 20:00] #200 closed

[2016-03-18 20:04] n-riesco commented on #203
On 18/03/16 18:50, Lukas Geiger wrote:

You're right. Specifying the Atom version is enough.

[2016-03-18 20:47] dpavlic commented on #204
No -- you're absolutely right, I was too hasty to declare them the same.  I don't have img-src data *;

I cannot test at the moment, as Arch fails to load the beta.  I will see if I can dig out another distro and see how things stand there.

[2016-03-18 21:45] n-riesco commented on #209
Actually, I removed this on purpose because I thought it duplicated the information already shown in the result bubble.

I'm OK to bring it back if you find it useful.

[2016-03-18 21:56] lgeiger commented on #209
You don't have to bring it back for me. I just noticed it and thought some error prevents it from being displayed.

The error in the result bubble is enough.

[2016-03-18 22:09] n-riesco commented on #209
@slavaGanzin Do you need this notifications back? If not, let's close this issue.

[2016-03-19 02:44] #48 closed

[2016-03-19 02:44] #205 closed

[2016-03-20 04:58] dpavlic commented on #204
To confirm: there is _no_ problem with Atom 1.7.0-beta0.  Thank you very much for your help, I am closing this one.

[2016-03-20 04:58] #204 closed

[2016-03-20 13:54] orodbhen opened #212 "Compatibility with autocomplete-python"
Is this package inter-operable with `autocomplete-python`? As far as I can tell, it's working, but the autocomplete menu does flicker sometimes, and that could be related.

[2016-03-20 15:07] slavaGanzin commented on #209
@n-riesco It works better for julia kernel - shows info and debug messages. In python it seems not so usefull, but as you can see not everything arrives to result bubble:
![screen](https://cloud.githubusercontent.com/assets/1011721/13905073/ea90bdb0-eebd-11e5-9ad7-abb07f95c03b.png)

Before I thought to change behavior - hide error messages, display X in result bubble and show atom errors - it show

[2016-03-20 15:16] slavaGanzin commented on #209
Looks like it bubble responses ignores some errors. This is OK while CUDA erorr isn't critical, but user should be notified about fallback to CPU.
![screen](https://cloud.githubusercontent.com/assets/1011721/13905128/2f673e4a-eebf-11e5-8ac3-ee0d11fb582f.png)

[2016-03-20 18:04] n-riesco commented on #209
@slavaGanzin I think those messages are actually invisible to Python. I've seen this happening with python modules that wrap FORTRAN or C/C++ libraries that use `stdio` to report warnings and errors. I imagine the python module doesn't wrap the `stdio` use by the underlying library.

There are a few arguments for not showing them:
- the kernel uses `stdout` and `stderr` for a different purpose; na

[2016-03-20 23:39] lgeiger commented on #212
The flickering will be gone in the next release (https://github.com/nteract/hydrogen/pull/207).

Though some suggestions will appear twice. If you don't want duplicated suggestions and still want to use `autocomplete-python` you can deactivate hydrogen's autocompletion in the settings.

[2016-03-20 23:45] orodbhen commented on #212
I don't mind duplicates. As long as the one doesn't break the other. Thanks.

[2016-03-20 23:45] #212 closed

[2016-03-22 21:47] slavaGanzin commented on #209
@n-riesco I think stdout notify can be removed, but not stderr one: https://github.com/nteract/hydrogen/blob/master/lib/kernel.coffee#L71

[2016-03-22 21:52] n-riesco commented on #209
@slavaGanzin What about the 4 points I made in my previous message?

[2016-03-22 22:42] slavaGanzin commented on #209
I can't get what are you talking about. All this messages are visible in iPython. If you are talking about topic starter a-like messages, I think they can be removed.

But if some library want to notify me that it works not as expected - in my case it was CUDA-tensorflow interaction I want to see that. Without trying to catch an error in my developer console.

You can review this: https://github.c

[2016-03-23 00:06] lgeiger opened #216 "Watch Panel doesn't scroll in Atom 1.6"
Tested with Hydrogen `0.7.2` and `master`.

[2016-03-23 07:25] n-riesco commented on #209
Those messages are invisible to IPython. IPython doesn't see them. Python doesn't see them. You won't be able to write a Python script that manipulates them, unless you capture the stdio of the process that runs the Python interpreter.

Since this it's important too you, I will implement a setting to enable/disable this kind of notifications.

[2016-03-23 10:32] n-riesco commented on #209
#218

[2016-03-23 10:46] n-riesco commented on #6
#197

[2016-03-23 10:46] #6 closed

[2016-03-23 11:05] n-riesco commented on #171
#177 already merged

[2016-03-23 11:05] #171 closed

[2016-03-23 11:56] slavaGanzin commented on #209
[code]

[2016-03-23 12:18] n-riesco commented on #209
Yeah right! And now storet them into a variable and do something with them.

[2016-03-23 12:23] n-riesco commented on #209
or try with this kernel spec:

[code]

[2016-03-23 12:31] slavaGanzin commented on #209
How I can store stdout of native library into variable?

[2016-03-23 12:41] n-riesco commented on #209
That's the point I'm trying to make. Unless you capture the process stdout, you can't. Libraries shouldn't report error messages like that, because programs using those libraries won't be able to act on those messages.

[2016-03-23 12:50] #216 closed

[2016-03-23 12:51] rgbkrk commented on #209
Even better case to try out is two Jupyter consoles connected to the same kernel.

[2016-03-23 14:27] kescobo commented on #171
@n-riesco Sorry I missed your comment from a month ago - it just popped up again with your most recent comment.

Just installed 0.7.2 and python kernels works like a charm (including switching between 2 and 3). I've having issues with my julia kernel but I'm pretty sure that's on my end. Will open up another issue if I can't solve it.

[2016-03-23 14:51] n-riesco commented on #171
@kescobo Thanks!

[2016-03-23 16:52] slavaGanzin commented on #209
I admire that you know how libraries should work and where they should report their problems. So you decide to delivery every library maintainer a new paradigm how they should do their work?

Error is an error, and you can filter it because of paradigm shift. Kernels write to stdout, stderr ,they shouldn't, but they do.

[2016-03-23 17:36] n-riesco commented on #209
@slavaGanzin It isn't a new paradigm. Please, try to understand what I said before:
- The Jupyter messaging protocol only defines `stream` IO messages for this purpose.
- Hydrogen uses kernel specs to launch a kernel. The kernel spec specifies a command to launch a kernel. This launching command and the kernel may not be the same thing.
- Also note that in your example the kernel doesn't write to

[2016-03-23 17:47] slavaGanzin commented on #209
Do what you want

[2016-03-23 17:47] #209 closed

[2016-03-23 17:47] n-riesco commented on #209
@rgbkrk Let me be more precise with the wording: it invokes a library that it isn't written in Python (C++ in this case) and that library writes to the process `stderr` instead of  writing to Python's `sys.stderr`.

[2016-03-23 19:29] rgbkrk commented on #209
Ahhhhh! I gotcha now! Yup I was definitely confused there. They're not re-piping stderr from child processes, hence it doesn't show up in the notebook.

[2016-03-24 08:30] n-riesco commented on #209
@rgbkrk Actually, I picture it a little different (no need for child processes):
- the OS provides each process with standard streams (in Linux, this is `/proc/<PID>/fd/0`, `/proc/<PID>/fd/1` and `/proc/<PID>/fd/2`).
- the Python interpreter runs in a process, and thus has its own `/proc/<PID>/fd/0`, `/proc/<PID>/fd/1` and `/proc/<PID>/fd/2`.
- Python scripts run by the Python interpreter usually

[2016-03-25 15:33] adampash opened #222 "Trouble with Elixir"
I'm trying to use Hydrogen with Elixir (using the https://github.com/pprzetacznik/IElixir) but I'm having some trouble. I've installed IElixir like so:

[code]

And when I run Hydrogen on an Elixir file, I get the following error:

### Stack Trace

Uncaught No such kernel!

[code]

**Atom Version**: 1.6.0
**System**: Mac OS X 10.11.3
**Thrown From**: [hydrogen](https://github.com/willwhitney/hydro

[2016-03-25 15:46] n-riesco commented on #222
Have you installed `language-elixir`?

What's the output of `jupyter kernelspec list --json`?

[2016-03-25 16:58] adampash commented on #222
Yes, I've got language-elixir installed. Output is:

[code]

[2016-03-25 18:42] n-riesco commented on #222
I've got to reproduce this issue. I'll debug it and come back to you.

[2016-03-25 18:52] adampash commented on #222
Thank you! Let me know if I can give you any more information.

[2016-03-25 19:43] n-riesco commented on #222
Hydrogen got confused with the language name.
I will submit a PR to fix this problem.
In the meantime, you can workaround it by editing the kernel spec in `~/.ipython/kernels/ielixir/kernel.json` and rename `Elixir` to `elixir`.

[2016-03-25 20:44] #222 closed

[2016-03-26 13:13] adampash commented on #222
Thanks a lot, @n-riesco! Really appreciate the quick fix.

[2016-03-27 22:14] sbromberger opened #228 "0.8.0 output messes up layout"
See attached screenshot with Julia kernel. (There are no spaces before the statements; Hydrogen is repositioning the text.)

<img width="200" alt="screen shot 2016-03-27 at 3 14 25 pm" src="https://cloud.githubusercontent.com/assets/941359/14068132/a1b1840a-f42e-11e5-937f-eb1edc1d3bb7.png">

Here's python:

<img width="252" alt="screen shot 2016-03-27 at 3 18 29 pm" src="https://cloud.githubuserco

[2016-03-27 22:53] lgeiger commented on #228
I think it's an issue related to the line height.

I'll take a closer look at this tomorrow. In the meantime it should help setting the line height to the default value (I think it's 1.5).

[2016-03-28 01:00] sbromberger commented on #228
Ah, could be. I'm using Source Code Pro at 13px with a line height of 1.1.

[2016-03-28 09:27] v3ss0n opened #229 "[Feature Request] Side Panel for Results"
Instead of clobbering the editor , how about side panel , like minimap for displaying the results?
at the right sidebar thre will be another gutter , which can be clicked for overview results of each lines.
should be awesome!

[2016-03-28 12:41] n-riesco commented on #229
Hydrogen already provides watches (which are shown on a side panel).
See the command `Hydrogen: Add watch`.

At some point, we will add a framework to add plugins to Hydrogen,
so that it'll be easier to experiment with new UI.

[2016-03-28 16:33] #228 closed

[2016-03-28 17:39] n-riesco commented on #153
@dschien I'm really sorry for such a late reply. Somehow I missed this issue. My guess is that you're trying to open a .ipynb file. Hydrogen doesn't work on .ipynb files. It runs directly on Python files or any other language for which there is a kernel available. See [here](https://github.com/ipython/ipython/wiki/IPython-kernels-for-other-languages) for a list of kernels.

[2016-03-28 17:43] #180 closed

[2016-03-28 17:44] #178 closed

[2016-03-28 18:03] n-riesco commented on #112
Closed by #195

[2016-03-28 18:03] #112 closed

[2016-03-28 18:19] n-riesco commented on #27
The CSP policy in Atom v1.6.0 doesn't allow the injection of scripts.
Will interactive HTML widgetis in Atom ever be possible?

@rgbkrk How about nteract? Are there any plans?

[2016-03-28 18:21] n-riesco commented on #26
@lgeiger Is this issue something you'd like to have a go?

[2016-03-28 19:16] lgeiger commented on #26
I can give it a shot.

This is the current behavior, isn't it?

[2016-03-28 20:10] n-riesco commented on #26
Yes, it's the current behaviour.

I think the only thing that it's left to close this issue is to add the "copy to clipboard" and the "open in new pane" buttons in HTML result bubbles.

[2016-03-28 20:12] lgeiger commented on #26
I'll soon make a PR!

[2016-03-28 22:38] rgbkrk commented on #27
We certainly plan to have it in nteract, though @jdfreder and I have only sketched out ways we can handle it.

Seems like it might be worth seeing if Atom can let you create an iframe or a WebView.

[2016-03-28 23:33] sbromberger commented on #228
Thank you both very much. I can confirm 0.8.1 does NOT have the display issue on my system.

[2016-03-29 15:36] dpavlic opened #236 "Cannot install Hydrogen on Arch"
Well, this is a doozy.  I wiped my atom folder the other day and went back to rebuild hydrogen.  I installed hydrogen before, so this cryptic error is all that much more odd:

[code]

Oddly, `npm install zmq` (which pulls 2.14.0) works just fine.

[2016-03-29 15:47] lgeiger commented on #236
Are you using atom version 1.6.0?

[2016-03-29 15:50] dpavlic commented on #236
Yes, it's 1.6.0.

[2016-03-29 15:50] lgeiger commented on #236
You can try this: https://github.com/nteract/hydrogen/issues/59#issuecomment-194279876

[2016-03-29 15:53] dpavlic commented on #236
There is no ~/.atom/packages/Hydrogen/ I assume since apm install fails. I'll see if I can pull Hydrogen repo and see if I can figure out what the heck is going on shortly.

[2016-03-29 16:03] lgeiger commented on #236
What worked for me in the past is removing the `~/.atom/compile-cache` folder and doing `apm install hydrogen`

[2016-03-29 16:32] dpavlic commented on #236
Atom is the first package I'm installing on once the .atom directory is wiped, so nothing in those. I've also tried to wipe ~/.atom in its entirety, but I'm afraid still the same error. What's so bizarre is that npm pulls the package without complaint.

[2016-03-29 17:39] dpavlic commented on #236
Well, I am still at a complete loss as to why this is happening. This workaround does work:

[code]

Works. Omitting the `npm install -save zmq` throws the same error as trying to do `apm install hydrogen`. I'm not really sure why getting zmq directly via npm works.

[2016-03-29 22:30] lgeiger commented on #236
I'm glad to hear that it's working now!

@n-riesco Since you are working with linux, do you have an idea about why the normal installation is failing?

[2016-03-29 22:44] n-riesco commented on #236
On 29/03/16 23:30, Lukas Geiger wrote:

No, I don't.

I'm actually very surprised that Dejan's workaround fixed the problem. My understanding is that apm and npm don't even use the same version of Node.js. For example, in this machine:

[code]

I will investigate this issue (but most likely not tomorrow).

[2016-03-29 23:06] lgeiger commented on #236
Awesome! There's no rush :smile:

[2016-03-30 00:58] dpavlic commented on #236
So on this end:

[code]

Well, while npm versions are certainly different, node is the same on my end. Maybe this could have something to do with how the arch repo is packaging Atom... I'm just taking a complete stab in the dark, though.

[2016-03-30 09:40] JLCCI opened #240 "Scalling on High Resolution Display"
First of all, thanks for the absolutely great package. Very useful.

I recently got a 4K screen and notices a small glitch. While the plots in Toggle Watch are nicely scaled, when I plot in the main editor body, the plot is to big to fit in the plotting window and I have to scroll horizontally and vertically.

Any chance for an option to scale? It would be great if a full plot is shown in the box

[2016-03-30 11:59] lgeiger commented on #240
Thanks for your feedback! I addressed the scaling issue in #242.

I'm afraid we can't do anything against the wrap-guide issue. We intentionally chose to move away from displaying the results as overlays because of #48.

You can make the wrap-guide a bit more subtle by modifying your custom stylesheet like this:
[code]

[2016-03-30 18:06] rkpatel33 opened #243 "`No kernel for language python found` on Hydrogen run command"
I am new to Atom and Hydrogen so forigive me if the answer here is obvious, but I can't seem to get Hydrogen to run on a python file and not sure how exactly to adjust my Hydrogen options. Here is my situation, please advise!

I have a one-line python file open with `Python` indicated in the bottom right status bar.

![image](https://cloud.githubusercontent.com/assets/3799489/14152297/7c87aa52-f68

[2016-03-30 18:13] n-riesco commented on #243
Could you post your settings for Hydrogen?

[2016-03-30 18:18] rkpatel33 commented on #243
Sure, here they are:

![image](https://cloud.githubusercontent.com/assets/3799489/14152615/23018960-f682-11e5-9477-95bfe9d6a47d.png)

[2016-03-30 18:25] n-riesco commented on #243
OK, those are the default values. It also shows Hydrogen was unable to run `jupyter kernelspec`.

Could you try to run Hydrogen again and then open the dev console (shift-ctrl-i) to see what errors have been reported?

[2016-03-30 23:11] #240 closed

[2016-03-30 23:41] rgbkrk commented on #243
It looks like those were in a virtualenv, which Atom won't pick up unless Atom is launched as `atom .` within the virtualenv. The alternative is to [create a kernel specifically for a virtualenv](http://www.alfredo.motta.name/create-isolated-jupyter-ipython-kernels-with-pyenv-and-virtualenv/).

[2016-03-31 00:16] uncreativename opened #244 "Ability to set breakpoints"
Hi, I was just wondering if it's possible to set breakpoints inside loops/functions or conditional breakpoints.

[2016-03-31 01:08] JLCCI commented on #240
Hi, thanks so much for a prompt reply, it's much appreciated!

No problem about the wrap-guide, it's not much of a bother. Also big thanks for adding the scaling option. Could you please let me know how to turn it on - should I wait for the package in Atom to be updated?

[2016-03-31 01:57] huyiqun opened #245 "Copy/save image"
When I use %inline mode to plot something, it is not possible to copy or save the image, but only to view it in atom. Is it possible to add such functionality or what is the best workaround on this? I currently connect a qtconsole to the existing hydrogen kernel, and run the plot code there in order to directly right click for copying and saving. Just wonder if this is by any chance doable in atom

[2016-03-31 02:01] huyiqun opened #246 "Weird characters in error message"
For any error message I got in hydrogen, they all come with these long sequences of 0 34 36 m, e.g.

`[0;31m---------------------------------------------------------------------------[0m
[0;31mNameError[0m                                 Traceback (most recent call last)
[0;32m<ipython-input-655-4128c4316f8c>[0m in [0;36m<module>[0;34m()[0m
[0;32m----> 1[0;31m [0mscores[0m[0;34m,[0m

[2016-03-31 07:26] n-riesco commented on #244
On 31/03/16 01:16, uncreativename wrote:

A debugger is language dependant (i.e. different languages will require different debuggers).
For functionality that is language/kernel dependant, we're planning to offer a plugin framework.

[2016-03-31 07:28] n-riesco commented on #246
This issue should be fixed in the latest release of Hydrogen. Note that the latest release requires at least Atom v1.6.0 or v1.7.0-beta.

[2016-03-31 07:32] n-riesco commented on #245
On 31/03/16 02:57, huyiqun wrote:

I think this can be easily done. I'll mark this issue as an enhancement.

If you click on a one-line bubble, Hydrogen will copy its content to the clipboard.

[2016-03-31 08:11] lgeiger commented on #240
It will be included in the next update and will be the default behavior.

[2016-03-31 08:23] lgeiger commented on #245
Which language are you using?

For example in `python` with `matplotlib` you can do this very easily with[ `plt.savefig('example.pdf')`](http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.savefig)

[2016-03-31 14:32] rgbkrk commented on #245
I'm guessing you're looking for browser style "right-click -> save image"?

<img width="584" alt="screenshot 2016-03-31 07 33 08" src="https://cloud.githubusercontent.com/assets/836375/14179129/b83b8676-f712-11e5-86d8-a8a8805a9bf7.png">

[2016-03-31 15:30] huyiqun commented on #246
Thanks! I updated Atom and Hydrogen and everything is good now.

[2016-03-31 15:32] #246 closed

[2016-03-31 15:34] huyiqun commented on #245
I am using python and looking for exactly what @rgbkrk has shown. I know saving to a file would be one option, but just wonder if a temporary copy and paste is possible as I am quite used to such functionality. :)

[2016-03-31 16:47] rkpatel33 commented on #243
Thanks for that, makes sense. I have a global default env that get's activated automatically.

I fixed the problem by pasting the entire json from `jupyter kernelspec list --json ` into the package settings.

One thing I note in the settings view, you can't actually see the entire json field when there is something in there besides the default. Seems like a bug? Not sure who's it would be if it is

[2016-03-31 17:07] n-riesco commented on #243
I'm running Atom 1.7.0-dev-7040035 and I don't this issue. What version are you using? Is there any one else seeing this problem?

[2016-03-31 18:01] BrianMiner commented on #67
I have the same problem....The ipython kernel cant be located using hydrogen. I can run the "what atom can see" commands above and I get the following. I have tried rebuilding, reinstalling and I can not get python to work.

childProcess = require('child_process')
Object {}
childProcess.execSync("which ipython").toString()
"/home/jma/anaconda/bin/ipython
"
childProcess.spawnSync("ipython").stdout.

[2016-03-31 20:45] uncreativename commented on #244
Oh gotcha, I wasn't even aware that hydrogen supported languages other than python. Sorry if this issue is a duplicate, I just noticed a previous issue with regards to support for stdin, that I assume is related. Thanks for the response!

[2016-03-31 21:50] rgbkrk commented on #67
@BrianMiner From the command line (within your conda environment), can you run:

[code]

[2016-03-31 22:29] lgeiger commented on #243
I'm running Atom 1.6.0 and I don't have this issue.
But on my system this setting gets populated by hydrogen. Maybe that has something to do with it.

[2016-03-31 22:33] BrianMiner commented on #67
/home/jma/anaconda/bin/python: No module named ipykernel

[2016-03-31 22:54] BrianMiner commented on #67
I thought the package worked with Ipython I did not realize I needed to upgrade to jupyter. That solved it!

[2016-03-31 23:29] n-riesco commented on #244
Hydrogen can work with any language that has a Jupyter kernel. See here for a list:

    https://github.com/ipython/ipython/wiki/IPython-kernels-for-other-languages

The things that Hydrogen can do with a kernel are defined by the Jupyter messaging protocol.

One of those things is the access to stdin. So, in principle, Hydrogen could provide stdin to the kernel.

The Jupyter messaging protocol do

[2016-04-01 09:55] farkass opened #248 "Uncaught Error: Monitoring support disabled check zmq version is > 3.2.1 and recompile this addon"
[Enter steps to reproduce below:]

1. installed Anaconda and jupyter
2. installed libzmq-dev
3. installed hydrogen in atom
4. started atom from terminal
5. created new python file
6.Selected Hydrogen Run
7.Received Hydrogen Kernels Updated: Python 2
8.Received next error:

**Atom Version**: 1.6.1
**System**: Linux Mint
**Thrown From**: [Hydrogen](https://github.com/nteract/hydrogen) package, v0.8.

[2016-04-01 11:16] n-riesco commented on #248
#249 fixes this bug.

In the meantime, before we release a new patch version to handle more gracefully the case when ZMQ monitoring is disabled, replacing `libzmq-dev` with `libzmq3-dev` will enable ZMQ monitoring.

[2016-04-01 16:31] #248 closed

[2016-04-01 19:26] farkass commented on #248
Installed libzmq3-dev, removed libzmq-dev
received a different error,
deleted compile-cache folder
reinstalled hydrogen package
started atom by command: atom .
It is working now!

[2016-04-01 19:44] n-riesco commented on #248
@farkass Thanks for the confirmation!

[2016-04-01 21:22] #26 closed

[2016-04-01 22:25] rkpatel33 commented on #243
Sorry for the delay, I am running 1.6.1, the latest release.

______________________________________
Rishi K. Patel
​, ​
Founder
​,
www.docnavapp.com
*​*
​
rishi@docnavlab.com
​,
917-647-0892​
LinkedIn <https://www.linkedin.com/in/rkpatel33>, @docnavlab
<https://twitter.com/docnavlab>

On Thu, Mar 31, 2016 at 1:07 PM, Nicolas Riesco <notifications@github.com>
wrote:

[2016-04-03 07:12] ywhuofu opened #250 "Figure Size"
Thanks for the awesome package!

Would it be possible to make the figure size adjustable? I've tried to adjust it using matplotlib, but didn't seem work.

[2016-04-03 10:22] lgeiger commented on #250
Adjusting the figure size in `matplotlib` is done using `plt.figure(figsize=(w, h))`. Though if the figure is to big it will be scaled down to fit (https://github.com/nteract/hydrogen/issues/240).

Please try if works for you:
[code]

[2016-04-07 20:00] rgbkrk opened #252 "[DISCUSSION] Hydrogen CSS namespace"
For the sake of readability in a user's config, we should start using a CSS (well, LESS) namespace for our outputs (and watch panel). Right now, as suggested in https://github.com/nteract/hydrogen/issues/160 to adjust the font-size you have to override `bubble-output-container`. Nested within other Atom stylesheets, it will begin to be unclear what `bubble` is when a user comes back to their style

[2016-04-07 20:00] rgbkrk commented on #252
[Related Twitter conversation](https://twitter.com/treycausey/status/718131309474746368)

[2016-04-07 22:30] n-riesco commented on #252
`hydrogen.less` could do with a clean up (not only font sizes, colours as well).

In the long term, I'd like to make possible the creation of plugins and themes.

[2016-04-07 22:31] n-riesco commented on #252
Perhaps, we could add a setting to configure this font size.

[2016-04-08 13:06] oxinabox commented on #38
Any news on this?

[2016-04-08 16:41] updiversity opened #253 "Kernelspec properly catched by Kernels not available"
Hi,

in the hydrogen settings, I see that the tool has been able to fill on its own the "Kernel Spec" field, with this:

[code]

Also, if i trigger the command "Hydrogen: Update Kernels", it looks like Hydrogen finds successfully the kernels, as a little blue popup info window open on the upper right with the list of detected kernels.

However, when I open a *.py file, and that i want to switch ke

[2016-04-08 16:51] n-riesco commented on #253
This behaviour is not ideal at the moment. The functionality to switch kernels is enabled only after a kernel is already running.

Do you know that `GrammarToKernel` in the Hydrogen settings can be used to define the default kernel for a language?

[2016-04-08 17:25] updiversity commented on #253
The workaround at the moment i have found is to launch atom from within the corresponding virtualenv.

In this case, at least I can use the corresponding kernel.

I tried to put the following config in the GrammartoKernel box, but without success:
{"python2":"Python Venv 2"}

Thks for the quick reply

[2016-04-08 17:42] n-riesco commented on #253
You can try this in grammarToKernel:

    {"python": "Python Venv 2"}

I use something similar to change the default between Python 2 and Python 3.

[2016-04-08 17:46] n-riesco commented on #253
We should make these settings more user friendly, but we have to wait until we're done tidying up the code dealing with the kernel manager.

[2016-04-08 19:27] lgeiger commented on #252
I agree. A cleanup of `hydrogen.less` is much needed!

[2016-04-09 08:33] n-riesco commented on #38
@oxinabox I haven't used them myself, but I'm aware of, at least, three projects to provide remote kernels. See:
- https://bitbucket.org/tdaff/remote_ikernel
- https://github.com/korniichuk/rk
- https://github.com/danielballan/remotekernel

@rgbkrk @lgeiger Currently, the only way to start up Hydrogen is to make a run request. Functionality like switching kernels is not available before that. I th

[2016-04-09 14:09] rgbkrk commented on #38
We've got a couple remote kernel setups working as part of enchannel, though they're not ready for utility consumption.

[2016-04-11 09:18] updiversity commented on #253
Yep, trying in grammarToKernel:

    {"python": "Python Venv 2"}

confirmed it works !

[2016-04-14 02:25] sbromberger opened #256 "Atom 1.7.0 failing with Hydrogen 0.8.4"
Message is `zmq@2.14.0 – Module version mismatch. Expected 47, got 46.`

How does one go about upgrading the dependencies?

[2016-04-14 02:30] sbromberger commented on #256
"Rebuild Packages" seems to have resolved it.

[2016-04-14 02:30] #256 closed

[2016-04-14 14:54] rgbkrk commented on #256
I ran into that too and somehow rebuild packages worked flawlessly (I was surprised it fixed itself).

[2016-04-15 20:15] sbromberger opened #258 "Strange message when restarting kernel"
[code]

I'm running 0.8.4. The `scala211` kernel is there (I had been using it), but I have a language mapping in my settings: `{"scala" : "scala211"}`.

[2016-04-15 20:18] lgeiger commented on #258
Try the language mapping the other way around: `{"scala211" : "scala"}`

[2016-04-15 20:41] sbromberger commented on #258
@lgeiger the thing is, the language mapping works - that is, I am able to run scala211 kernel in hydrogen. This error only comes up when I go to restart the kernel.

[2016-04-16 00:02] n-riesco commented on #258
There are three types of names used in Hydrogen:
- `@editor.getGrammar().name.toLowerCase()`
- `kernel.language`
- `kernel.display_name`

And two settings to link them:
- `grammarToKernel`
- `languageMappings`

I reckon I can fix this issue by getting rid of `kernel.language` and `languageMappings`.

[2016-04-18 21:17] slavaGanzin commented on #236
@dpavlic

1. atom do not use node or npm installed on your system, it brings its own (outdated versions). You can see it - ```apm config list```
2. I had troubles with outdated atom releases from AUR. Pacman said it was 1.6, but ```atom --version``` shows 1.4.1. So check this.
3. I have node-gyp 3.3.1, and yours is 2.0.2. I don't even know how it works for you. node-gyp shouldn't work with modern

[2016-04-18 22:50] gnilrets opened #263 "Install failed: python2.7: command not found"
I'm on a Mac (El Capitan) and I installed pkg-config, zeromq, and ipython as instructed.  I do have Python 2.7 installed (via pyenv), but when I try to install the package I get the following error:

[code]

[2016-04-19 22:54] #258 closed

[2016-05-02 07:18] postoroniy opened #265 "Uncaught TypeError: Cannot read property 'remove' of null"
Having this issue https://github.com/atom/atom/issues/11282#issuecomment-216105739
no idea where's root cause

[2016-05-02 12:17] mangecoeur commented on #263
I think when you use pyenv the python version won't be on your PATH, so you might have to either update your PATH before running and change it back after, or see if you can specify the location of the python binary.

Personally, every time Hydrogen updates I have to edit my PATH first (I use Anaconda Python 3). It's pretty annoying.

It would be nice to nuke the GYP dependence somehow - I have los

[2016-05-04 07:39] plieningerweb commented on #38
old link form @razvanc-r was not working anymore, link to his gist is: https://gist.github.com/razvanc-r/a365b921ba4bf575b6a5

[2016-05-05 08:50] n-riesco commented on #265
I will have a look a this issue next week.

If I understood correctly the issue report in https://github.com/atom/atom/issues/11282 , this issue can be reproduced by running twice the same selection of lines. Is my understanding correct?

[2016-05-05 23:41] postoroniy commented on #265
1) run first time
2) check that decorator on right side is appeared.
3) on the same line type space and delete space
4) check that decorator is gone
5) run this line again
6) observe issue

[2016-05-09 18:25] khaeru opened #266 "[Feature request] Add or document command for kernel restart"
I've been developing a Python module in one Atom instance, and using Hydrogen and a script in another to do some rough debugging. It's a really nice workflow!

Since Jupyter does not re-import `import`ed modules when the `import` line is re-run, and it is (AFAICT) not possible to use IPython magics in Jupyter, I end up needing to restart the kernel repeatedly.

It would be useful to be able to key

[2016-05-09 19:14] rgbkrk commented on #266
so very nice feedback, thank you!

[2016-05-09 21:43] lgeiger commented on #266
Thanks for your great feedback! I'll have a look at the restart command next week.

That said, IPython magics work in jupyter as well. There are several options you can use to achieve auto reloading of the imported modules:
- add these lines to your python file or to your startup code in the hydrogen setting (http://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html):
[code]
- or a

[2016-05-09 21:49] khaeru commented on #266
Ah, sorry—I read [this comment](https://github.com/nteract/hydrogen/issues/146#issuecomment-164306959) and so assumed magics were not available at all, so I must have overlooked them in the settings.

[2016-05-10 07:03] n-riesco commented on #266
I also find very inconvenient that restart kernel can't be assigned a key binding. I'd like to split the command `Hydrogen: Show Kernel Commands` into:
- `Interrupt Running Kernel`
- `Restart Running Kernel`
- `Switch Kernel ...`

[2016-05-10 07:21] n-riesco commented on #265
I can't reproduce this issue with Hydrogen v0.9.0 and Atom 1.7.0-dev-7040035 . What versions are you using?

[2016-05-10 10:57] slavaGanzin commented on #266
@n-riesco That split was approved by @willwhitney, but wasn't done - I was waiting to have a time to refactor and move to async code in menus. But that time never came :)

[2016-05-10 11:50] n-riesco commented on #266
@slavaGanzin Would you like to make a PR for it? It should be a matter of adding two new commands `Interrupt Running Kernel` and `Restart Running Kernel`, and renaming `Hydrogen: Show Kernel Commands` to `Switch Kernel ...`.

[2016-05-10 14:49] JCMais commented on #236
This is an issue with [jmp](https://github.com/n-riesco/jmp) which uses an outdated version of [zqm](https://github.com/JustinTulloss/zeromq.node) which in turn uses an outdated version of [NAN](https://github.com/nodejs/nan) not compatible with some new v8 API.

[2016-05-10 15:45] n-riesco commented on #236
@JCMais Please, could open a new issue and an include information such as Atom and Hydrogen versions and any error messages?

[2016-05-10 18:06] JCMais commented on #236
@n-riesco Sorry, but I didn't installed it, I said that based on the logs I saw on build errors of my own addon.

[2016-05-11 00:26] postoroniy commented on #265
I saw this at first time with Atom Version: 1.8.0-dev-1548cef
and according to mine experiments branch 1.7 is totally ok rather than 1.8

[2016-05-11 10:15] slavaGanzin commented on #266
@n-riesco Ok. I'll do

[2016-05-11 19:53] n-riesco commented on #265
I've reproduced the issue on Atom 1.9.0-dev-4d494e1

[2016-05-11 22:13] #265 closed

[2016-05-12 06:08] n-riesco commented on #265
This bug is pretty annoying. Shall we release a patch revision straight away?

[2016-05-12 08:37] lgeiger commented on #265
👍  for a patch release.

[2016-05-14 13:53] m-guggenmos commented on #166
This would be an amazing feature indeed. Currently I do this manually by calling `ipython console --existing /path/to/kernel-XXX.json` within my atom-embedded terminal-plus console.

I wonder if, until a bigger solution arrives, one could write a simple atom package "connect-to-hydrogen-kernel-from-terminal". This package would connect to the kernel of the currently active code file using the term

[2016-05-18 10:38] xpluscal commented on #58
I get the same issues when trying to install via ```apm install hydrogen```. any ideas?

[2016-05-18 10:39] xpluscal commented on #58
Sorry, it was due to pkg-config not being installed via brew as pointed out in your guide. Solved.

[2016-05-19 14:36] slavaGanzin commented on #266
@khaeru If you are on master branch(or wait for next release), you can map restart kernel in your keymap.cson, for example:
[code]

[2016-05-19 14:36] #266 closed

[2016-05-19 17:41] khaeru commented on #266
Excellent, thank you!

[2016-05-20 11:11] slavaGanzin opened #271 "grammarToKernel cut"
I write grammarToKernel mapper that automatically saved on kernel change.

And now it doesn't work and I can't find it in repo:
https://github.com/nteract/hydrogen/search?utf8=%E2%9C%93&q=grammarToKernel

While @n-riesco recommend to use it:
https://github.com/nteract/hydrogen/issues/253

And it's present in Readme:
[code]

So if someone just cut this functionality, please document this fact.

p.s

[2016-05-20 12:00] n-riesco commented on #271
README.md needs updating. This changed in #260 . See [this comment](https://github.com/nteract/hydrogen/pull/260#issuecomment-212273724) for more details.

[2016-05-20 18:40] slavaGanzin commented on #271
@n-riesco
You cut this line:
https://github.com/nteract/hydrogen/pull/260/commits/a7106d109a988401ae78ffec54d4ece984511fe5#diff-2e1bb36917ff76ab7308da52bc968501L119

Saving kernels on switching them in atom does break something? Or this should be added again?

[2016-05-20 18:59] n-riesco commented on #271
I believe settings should be updated by the user.
Having said that, I don't really feel strongly about this point.
cc/ @lgeiger @rgbkrk what are your thoughts?

[2016-05-20 21:49] rgbkrk commented on #271
Having a way to map from grammar to a kernel certainly needs to exist. How the settings are stored and dealt with should rely on Atom APIs for settings as much as possible.

[2016-05-20 22:03] lgeiger commented on #271
I agree. However I never used this setting so I don't feel strongly about this.

[2016-05-21 10:33] slavaGanzin commented on #271
We are not talking about storing options. We are talking about automatic update of "gramar to kernel" mapping on every change of kernel, for example: if I switch to python3 kernel on .py file, next time I start hydrogen on .py file it will launch python3 kernel and not default one.

This functionality was implemented, but cut out after Nicolas's refactor.

[2016-05-21 10:43] slavaGanzin commented on #271
Another thing I want to discuss:

Autopopulated kernelspecs shouldn't be shown to user and should be merged with user's one on startup - this will ease adding your own kernels.

Additionally we should strongly recommend to create separate files for kernels, if ipython or jupyter is installed on machine. Hydrogen shouldn't be used for kernel management.

[2016-05-21 14:06] rgbkrk commented on #271
I tend to assume that kernelspec files are managed by Jupyter within, for example, `~/Library/Jupyter/kernels` on OS X.

[2016-05-21 18:23] n-riesco opened #272 "Handling of kernelspecs"
I'm moving the discussion about kernelspecs from #271 to this issue.

@slavaGanzin @rgbkrk Please, could you clarify your position? Are you supporting making the installation of Jupyter a requirement to use Hydrogen?

The latest Ubuntu 16.04 LTS comes with `IPython v2.4.1`. This version of IPython doesn't support the command `ipython kernelspec`. This is very unfortunate and it's raising the hurdl

[2016-05-21 18:35] n-riesco commented on #271
Let me focus the question in this issue. The question is which option do you prefer:

1. you'd like that the command `switch to kernel` will not only switch to the requested kernel, but also update the setting `grammarToKernel` (so that the kernel becomes the default choice for that grammar).

2. or you'd like that the command `switch to kernel` only changes the running kernel, and `grammarToKerne

[2016-05-21 20:00] slavaGanzin commented on #272
I don't care about Ubuntu problems, but as I said before:
 if ```jupyter/ipython kernelspec``` fails hydrogen should use kernelspec mappings that can be set in hydrogen settings. That means jupyter wouldn't be a requirement for hydrogen.

if we can get kernelspecs from ipython/jupyter, than that mappings should be merged internally (without showing them in settings) with kernelspecs from settings.

[2016-05-22 01:19] rgbkrk commented on #272
[`kernelspecs`](https://github.com/nteract/kernelspecs) is the library for querying kernel specs, though it only relies on `jupyter-paths` at the moment. We could introduce a way to check for `ipython-paths` as well as old IPython. Based on the fact that we "require" a kernel to be installed, even with `jupyter`, we likely need a hokey default kernel to be provided back from kernelspecs.

[2016-05-22 11:25] m-guggenmos commented on #201
@lgeiger This isn't working for me, I keep getting the `No kernel for language magicpython found` error.

[2016-05-22 21:05] lgeiger commented on #201
I reproduced this issue.

If you add `{"python": "magicpython"}` to your language mappings everything should work fine.

This setting is usually used to map a kernel language name to atom's grammar name. Since MagicPython changes atom's grammar name this setting has to be applied the other way round.

You can also use the kernel mapping setting instead. Just add `{"magicpython": "Python 2"}` there

[2016-05-22 21:26] m-guggenmos commented on #201
Great, I can confirm that exchanging the two names works.

[2016-05-22 21:26] lgeiger commented on #201
Awesome! 🎉

[2016-05-22 21:26] #201 closed

[2016-05-23 03:21] liuderchi opened #275 "typo in setting page"
description under title `Kernel Specs` in __Settings__ section of setting page has some typos

`jupyter kernelspecs list --json`
should be
`jupyter kernelspec list --json`

and also

`ipython kernelspecs list --json`
should be
`ipython kernelspec list --json`

I think related file is `hydrogen/lib/config.coffee`

[2016-05-23 08:37] lgeiger commented on #275
Thanks!

[2016-05-23 08:45] #275 closed

[2016-06-02 03:05] RobBW opened #279 "Hydrogen install fails on OS 10.11.5"
When try to install Hydrogen from the Atom Install packages menu it fails as follows:

Installing “Hydrogen@0.9.1” failed.Hide output…

make: *** No rule to make target `Codingware/Atom.app/Contents/Resources/app/apm/node_modules/npm/node_modules/node-gyp/addon.gypi', needed by `Makefile'.  Stop.
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at Child

[2016-06-02 09:09] lgeiger commented on #279
Have you tried installing hydrogen via terminal with `apm install hydrogen`?

[2016-06-02 12:23] RobBW commented on #279
Here is the result of running  apm install hydrogen

untitled

[robw]$ apm install hydrogen
Installing hydrogen to /Users/robw/.atom/packages ✗

make: *** No rule to make target `Codingware/Atom.app/Contents/Resources/app/apm/node_modules/npm/node_modules/node-gyp/addon.gypi', needed by `Makefile'.  Stop.
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack

[2016-06-03 00:03] shichao116 opened #280 "Python 2.X syntax error"
I tried run a simple print statement in atom: `print 'haha'` it pops `SyntaxError: invalid syntax`.

However, print('haha') works. I thought it was because atom default to run code with python 3, but there are other types of SyntaxError which works fine if run the script from shell and doesn't relate to python version. Does anyone encounter this problem? Thanks.

[2016-06-03 04:16] atmlvs opened #281 "matplotlib image displayed in pop up window not in watch result area as demo shown"
Atom: 1.7.4 on Ubuntu 15.04
Hydrogen: 0.9.1

matplotlib image displayed in pop up window not in watch result area as demo shown.
how to do that like demo show?
![screenshot from 2016-06-03 12 11 21](https://cloud.githubusercontent.com/assets/138501/15768609/db7734c4-2984-11e6-92e9-47829a9ea454.png)

[2016-06-03 07:02] n-riesco commented on #281
This how matplotlib works.
You need to add the following line to your code:

    %matplotlib inline

[2016-06-03 07:21] n-riesco commented on #280
You should be able to determine what version of python Hydrogen is using by running `help()`.

Could you post all the other errors you've come across? (and a screenshot if possible).

[2016-06-03 08:29] lgeiger commented on #279
Just to make shure, have you installed `pkg-config` and `zeromq` and used `python2` for installing hydrogen? (https://github.com/nteract/hydrogen/blob/master/README.md#homebrew-on-os-x)

Which version of atom are you using?

[2016-06-03 08:33] n-riesco commented on #279
The log message reports an error on `node-gyp rebuild`. This suggests Atom in your machine is unable to build native modules.

@rgbkrk , are the OS installation instructions [here](https://github.com/nteract/hydrogen/blob/master/README.md#homebrew-on-os-x) complete? Is it enough to install `homebrew`, `zeromq` and `pkg-config`?

[2016-06-03 08:40] atmlvs commented on #281
cool! I went back the demo. I missed the top 2 lines :(
thanks for pointing out.

[2016-06-03 08:40] #281 closed

[2016-06-03 08:47] lgeiger commented on #279
@n-riesco Thanks for taking a look!

On travis the installation works with `homebrew`, `zeromq` and `pkg-config`.

[2016-06-03 09:05] n-riesco commented on #279
@lgeiger I've been quiet for a while, but I'm still working on Hydrogen and IJavascript. At the moment, my priorities for these projects are: get out the next release of IJavascript, develop a javascript-only kernel launcher and solve (hopefully) the situation with native modules.

[2016-06-03 12:18] slavaGanzin commented on #272
@n-riesco Life is ironic, even sarcastic - now I work on ubuntu 16.04 LTS (laughing allowed)

I read docs for ijavascript, jp-babel and installed env as described:
```sudo apt-get install nodejs-legacy npm ipython ipython-notebook libzmq3-dev```

and was discouraged with:

[code]

after that I try to intall ```jupyter``` from pip and everything works like a magic.

So here is a question why do you

[2016-06-03 12:22] slavaGanzin commented on #271
1. you'd like that the command switch to kernel will not only switch to the requested kernel, but also update the setting grammarToKernel (so that the kernel becomes the default choice for that grammar).

2. or you'd like that the command switch to kernel only changes the running kernel, and grammarToKernel remains unchanged (i.e. set to whatever the user had chosen before running the command swit

[2016-06-03 12:37] slavaGanzin commented on #272
And another issue: I sync my settings between work and home laptops. So I have specified kernels in my settings. Update kernels on work machine doesn't update my kernelspecs because I have ones from my home. That's the weirdest behaviour I ever expect.

I'll implement that this way: https://github.com/nteract/hydrogen/issues/271#issuecomment-220771030
Current behaviour is a mess

[2016-06-03 13:18] rgbkrk commented on #279
For my OS X machine, it's been enough to install homebrew, `zmq`, and `pkg-config`. This is assuming the node environment is set to use Python2 for `node-gyp`.

[2016-06-03 14:35] willwhitney commented on #271
I have no strong feelings. It seems probably easier to have switch change the setting persistently (#1) but if there's a good argument the other way, that's fine too.

[2016-06-04 09:47] RobBW commented on #279
Attached are the answers to your questions taken from a Terminal session:

Last login: Sat Jun  4 17:06:27 on ttys000

Current PATH is: /Users/robw/anaconda/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/usr/local/git/bin:/usr/texbin:/Developer/NVIDIA/CUDA-7.5/bin:/Users/robw/torch/install/bin:/Users/robw/.local/bin:usr/local/Cellar/llvm38/3.8.0/bin

[robw]$ brew install pkg-config

[2016-06-04 11:11] RobBW commented on #279
Following up on your query about node environment I updated from node 6.1 to node 6.2. No improvement.

Then found this link : https://github.com/npm/npm/issues/823 and followed its instructions to “  add $HOME/.homebrew/lib/node/ to my NODE_PATH.” The file .homebrew did not exist, and adding it made no difference anyway..

However finding that NODE_PATH is empty makes me wonder. Should it be set?

[2016-06-04 11:21] mjamilrahman commented on #243
[ Problem solved ] " no kernel for python language found"

I am using Linux Operating System ubuntu 16:04
Atom 1.7.4

Open your beloved Terminal <3

$ sudo apt autoremove ipython
$ sudo apt install python-pip -y
$ pip install --upgrade pip

then, install ipython[notebook]

$ sudo pip install ipython[notebook]

Done

[2016-06-04 11:23] mjamilrahman commented on #201
[ Problem solved ] " no kernel for python language found"

I am using Linux Operating System ubuntu 16:04
Atom 1.7.4

Open your beloved Terminal <3

$ sudo apt autoremove ipython
$ sudo apt install python-pip -y
$ pip install --upgrade pip

then, install ipython[notebook]

$ sudo pip install ipython[notebook]

Done

[2016-06-05 00:41] nmiculinic opened #282 "hydrogen autocomplete not working properly"
I cannot get hydrogen autocomplete working properly.

I'm using python3.5 and when using ordinary jupyter notebook everything works as expected.
I've tested in atom print(sys.version) that it correctly connects to the jupyter kernel and it works as expected. I'm not sure what more could I check to determine what is the issue.

[2016-06-06 05:29] Kiminaka opened #283 "Your Hydrogen config is broken: kernelspec"
Hi, I'm trying to use the extension but I have trouble setting up..
I got this error:
<img width="462" alt="screen shot 2016-06-05 at 10 27 30 pm" src="https://cloud.githubusercontent.com/assets/2072406/15812685/bf57f53c-2b6c-11e6-90a7-9d65f212484b.png">

My setting:
<img width="705" alt="screen shot 2016-06-05 at 10 34 39 pm" src="https://cloud.githubusercontent.com/assets/2072406/15812780/be74c0

[2016-06-06 06:48] n-riesco commented on #283
To fix this problem, please delete `{jupyter kernelspec list --json}` in your Kernel Specs setting.

---

I'm leaving this issue open as a reminder to improve the error message.

[2016-06-06 15:37] Kiminaka commented on #283
Thanks n-risesco!
I deleted `jupyter kernelspec list --json` but I still get this error..
<img width="468" alt="screen shot 2016-06-06 at 8 35 51 am" src="https://cloud.githubusercontent.com/assets/2072406/15827858/ca0fd79c-2bc1-11e6-950d-c561e6676d16.png">

[2016-06-06 16:35] n-riesco commented on #283
What OS are you using? If you are using the IPython distributed with Ubuntu 16.04, you'd need to edit the Kernel Spec setting as:

[code]

[2016-06-06 17:30] Kiminaka commented on #283
I'm using OSX El Captain

[2016-06-06 17:40] lgeiger commented on #283
Have you saved the file you want to execute with a correct file extension (`.py` for python etc.)?

Otherwise Atom can't recognize the correct grammar and Hydrogen can't start the kernel.

[2016-06-06 17:49] Kiminaka commented on #283
Thanks lgeiger! I see. I was testing it with an unsaved file. But if I try it with a .py file, I still get the same error..
`No kernel for language python found`

[2016-06-06 17:52] lgeiger commented on #283
Can you run `jupyter kernelspec list --json` in the terminal and post the output.

[2016-06-06 17:57] lgeiger commented on #282
Hydrogen's completions are displayed via the `autocomplete-plus` package.

Are  completions from the default providers of `autocomplete-plus` working for you?

[2016-06-06 17:59] Kiminaka commented on #283
Here is the output!
[code]

[2016-06-06 18:08] lgeiger commented on #283
This looks OK.
Please paste this output into the Kernel Spec settings field.

However Hydrogen should do this for you on its own.
Which atom version are you using?

[2016-06-06 18:18] Kiminaka commented on #283
Great! it worked when I pasted the output :) I'm using the latest version (1.7.4)

[2016-06-06 18:20] lgeiger commented on #283
👍

[2016-06-07 06:28] n-riesco commented on #283
TODO
- [ ] Update error message when Hydrogen config is broken
- [ ] Update README with installation instructions for Ubuntu 16.04
- [ ] Update README with installation instructions for Anaconda

[2016-06-07 12:25] slavaGanzin opened #285 "Test instructions"
@lgeiger, please, add to Readme test instructions in new Development paragraph.
I'm interested in way how can I launch tests on my local machine, not waiting for travis build.

[2016-06-07 12:33] lgeiger commented on #285
Good idea! I'lll add a paragraph this evening.

You can launch the tests with `apm test` or in atom with View->Developer->Run Package Specs.

[2016-06-07 13:03] slavaGanzin commented on #285
@lgeiger thanks

[2016-06-07 14:02] nmiculinic commented on #282
autocomplete-plus is displaying alright.

I did some debugging and culprit is autocomplete-python on packages which are big (such as numpy/tensorflow, in tensorflow example it never finishes) and it hangs quite a lot until it finishes leaving me without hydrogen autocompletions. My questions are now as follows:

Can I somehow force autocomplete-plus to display hydrogen completions first and not wa

[2016-06-07 14:02] #282 closed

[2016-06-07 21:51] tiangolo opened #287 "Connect to local "remote" existing kernel (for Docker)"
It would be great to have a way to make Hydrogen connect to an existing local Kernel using an existing connection file, like in:

`jupyter console --existing /home/user/test-docker-python/tmp/kernel/kernel-000.json`

This would allow developing in a Docker container with all its dependencies but having autocompletion, code run, etc.

With that, it would be possible to start a Docker container with

[2016-06-07 23:15] slavaGanzin commented on #287
@tiangolo try
``` jupyter kernelspec list ``` or ``` iptyhon kernelspec list```
You'll see something like this:
[code]

just make a symlink to one of this folders like:

[code]

And trigger 'hydrogen update kernels' it should work

[2016-06-07 23:17] rgbkrk commented on #282
I'm assuming you turned off autocomplete plus for Python in the meantime?

What was your solution/temp-fix @nmiculinic?

[2016-06-07 23:43] slavaGanzin commented on #283
1. Why jupyter don't know about anaconda? Please clarify
2. Why Kiminaka got ```null grammar```?
3. Can that copy/paste be done by hydrogen? Or conda doesn't expose itself to PATH? Or what?

[2016-06-08 04:55] erdemalpkaya opened #288 "Installing “Hydrogen@0.9.1” failed."
<img width="1303" alt="screen shot 2016-06-08 at 4 45 55 pm" src="https://cloud.githubusercontent.com/assets/18541694/15883048/ed314aa2-2d98-11e6-87d1-36fe95b3abd1.png">

Hey, Guys, I tried to install Hydrogen but I got this warning. Does anyone know about it?
Thank you

[2016-06-08 06:01] n-riesco commented on #288
You need to install Hydrogen requirements. See [this section](https://github.com/nteract/hydrogen#homebrew-on-os-x) in the README.

[2016-06-08 11:42] nmiculinic commented on #282
Solution/temp fix is disable autocomplete-python

In the meantime I've submitted bug report to Jedi and autocomplete-plus. Jedi throws error on importing from tensorflow and autocomplete-plus for some reason doesn't display other providers once autocomplete-python Jedi fails (not even snippets, default nor hydrogen).

Related issues are:
davidhalter/jedi#730
atom/autocomplete-plus#727

[2016-06-09 22:05] tiangolo commented on #287
Thanks @slavaGanzin for the tip.

Here's what happens.

When I run:

[code]

I get:

[code]

(I'm using miniconda / Anaconda Python).

But that folder has no contents (just two images):

[code]

Nevertheless, it seems that [recently the location has moved](http://stackoverflow.com/a/36433438), and to get it is with:

[code]

And inside it is the kernel connection file:

[code]

And the contents ar

[2016-06-09 22:18] lgeiger commented on #279
On my machine `$NODE_PATH` is empty.

Try removing `~/.atom/packages/Hydrogen/` if anything is in there. Maybe this will help.

[2016-06-09 22:53] slavaGanzin commented on #287
looks like great idea

[2016-06-10 17:33] #271 closed

[2016-06-11 11:58] lgeiger commented on #287
I have never used a remote kernel but this sounds like a great addition to hydrogen!

Awesome! This would be great! 🎉

[2016-06-11 12:36] #285 closed

[2016-06-11 14:28] slavaGanzin commented on #199
@n-riesco Did you removed all of them? :smile:

[2016-06-12 04:16] sagarnayak opened #291 "Error while building tess-two"
C:\tess-two\eyes-two>ndk-build NDK_PROJECT_PATH=C:\tess-two\eyes-two\src\main NDK_APPLICATION_MK=C:\tess-two\eyes-two\src\main\jni\Application.mk AAPP_BUILD_SCRIPT=C:\tess-two\eyes-two\src\main\jni\Android.mk
[armeabi] Install        : libhydrogen.so => libs/armeabi/libhydrogen.so
[armeabi] Install        : libimageutils.so => libs/armeabi/libimageutils.so
[armeabi] Install        : libopticalflow

[2016-06-12 08:43] n-riesco commented on #291
Wrong project repository?

http://www.hydrogen-music.org/hcms/node/1851

[2016-06-12 08:46] n-riesco commented on #199
On 11/06/16 15:28, Slava wrote:

Avoid adding new one would be a good start!

https://github.com/nteract/hydrogen/blob/b50e192db05556aaaf24489ec5d02fb92425061e/lib/kernel-picker.coffee#L7

[2016-06-12 14:37] AnthonyJacob opened #292 "Installation fail [ 'node-gyp rebuild' ]"
Output

[2016-06-12 14:53] n-riesco commented on #292
This looks like an error with the installation of native modules.
In Windows this requires the installation python and visual studio.
See this link for up to date instructions:

https://github.com/nodejs/node-gyp#installation

[2016-06-12 15:32] AnthonyJacob commented on #292
Hmm, I have Anaconda installed (Python 3.5), does it mean that hydrogen won't work for anaconda?

[2016-06-12 15:49] AnthonyJacob commented on #292
I have installed both

-  Visual C++ Build Tools
-  Python 2.7

but I am still getting the same error.

[2016-06-12 16:05] n-riesco commented on #292
To confirm atom is using Python 23.7, could you post the output of running `apm --version`?

[2016-06-12 16:11] AnthonyJacob commented on #292
Seems like not... How can I force it to use the right one?

[2016-06-12 16:11] n-riesco commented on #292
To answer your question above: yes, it's possible to use Hydrogen with anaconda, but you need to set `kernelSpec` in Hydrogen's settings.

You need to run the command `jupyter kernelspec list --json` and copy the output to `kernelSpec`.

[2016-06-12 16:15] n-riesco commented on #292
On 12/06/16 17:11, AnthonyJacob wrote:

I haven't tested it, but something like this should work:

[code]

[2016-06-12 16:19] n-riesco commented on #292
BTW, it seems Atom is able to see your installation of Anaconda, so I don't think you need to set `kernelSpec`. Hydrogen will do it, automatically.

[2016-06-12 16:31] AnthonyJacob commented on #292
Done. But another error occurs.

[2016-06-12 16:45] n-riesco commented on #292
Node-gyp is complaining that it cannot run `VCBuild.exe`.
What version of visual studio are you using?
Sometimes `node-gyp` can be very picky about the version.

[2016-06-12 16:53] AnthonyJacob commented on #292
I don't have any, I have `Visual C++ Build Tools` instead - since https://github.com/nodejs/node-gyp#installation claims that it is enough.
Do I still need to install visual studio?
Btw I am running on w8 and I don't see .NET Framework 2.0 listed in program manager, should I also install it?

[2016-06-12 17:12] n-riesco commented on #292
On 12/06/16 17:53, AnthonyJacob wrote:

yes, I saw it.

I tried once with visual studio and it worked, but I imagine the Visual C++ Build Tools should work too.

That's what the error message says.
It sounds like a reasonable thing to do.

[2016-06-12 17:55] AnthonyJacob commented on #292
I have gave up and installed that heavy 5GB Visual studio thing.

And it works now! Thank you **very much**  for your time, NR.
:- )

[2016-06-12 17:55] #292 closed

[2016-06-12 18:09] n-riesco commented on #292
I'm sorry about the VS install. I'm working towards providing a pre-compiled native module for ZMQ (when this happens, the VS install will be unnecessary).

[2016-06-12 21:06] AnthonyJacob opened #293 "Can I display animations?"
This code should update image every frame, but does not.
[code]
Instead it just shows one non moving image, and you have to run the code again to see progress.
(It works in notebook but not in atom)

[2016-06-13 09:32] slavaGanzin commented on #199
As I understand from [your link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get) I can define getter only this way:
[code]
Which looks overcomplicated. And this:
[code]
will raise:

[code]

Any ideas?

[2016-06-13 09:43] n-riesco commented on #199
This would do:
[code]

[2016-06-13 17:45] slavaGanzin commented on #199
Someone(for example I in a month) will treat it as property and forget to call it.

[2016-06-13 20:34] bakkerthehacker opened #294 "Option to remove colors from output"
The colours in the text output are very hard to read with the lighter theme
http://i.imgur.com/BLqsPHT.png

[2016-06-13 21:21] lgeiger commented on #294
You can add
[code]
to your atom stylesheet. This will remove all the color from the output.

[2016-06-14 06:27] n-riesco commented on #199
On 13/06/16 18:45, Slava wrote:

Exactly, this is the main reason why the convention is verbs are used to name functions, and nouns to name properties.

Also note that getters and setter in Javascript aren't called (unlike in Java).

[2016-06-14 15:36] slavaGanzin commented on #199
Great. But how can i define get(getter) property in coffeescript?

[2016-06-14 16:15] n-riesco commented on #199
On 14/06/16 16:36, Slava wrote:

You already posted the answer to this question above:

[code]

[2016-06-14 16:17] n-riesco commented on #199
And a more through example:

[code]

[2016-06-14 16:25] n-riesco commented on #199
[This issue](https://github.com/jashkenas/coffeescript/issues/451) at the CoffeeScript repository is relevant.

[2016-06-14 18:52] slavaGanzin commented on #199
Looks like overkill, that brings nothing new. Get/set in js is syntactic sugar, with object.defineProperty it's opposite.

I think we should close issue

[2016-06-14 19:15] n-riesco commented on #199
On 14/06/16 19:52, Slava wrote:

This issue is not about using `Object.defineProperty`.

This is issue (as the title states) is about not using getters and setters. In other words:

* in the case of `getElement()` vs `element`, the property `element` is more common in the code, and thus I would remove `getElement()`.

* in the case of `KernelPicker`, `getKernels` is a property, and thus I would re

[2016-06-15 19:41] n-riesco commented on #287
Closed via #295

[2016-06-15 19:41] #287 closed

[2016-06-15 19:43] #253 closed

[2016-06-15 19:46] #291 closed

[2016-06-15 19:57] n-riesco commented on #206
@sbromberger If you update your Atom installation, please, could you post here whether this bug is still present?

[2016-06-15 20:02] n-riesco commented on #153
@dschien Please, don't hesitate to reopen this issue, if you still need help.

[2016-06-15 20:02] #153 closed

[2016-06-15 20:17] n-riesco commented on #38
Closed via #295

[2016-06-15 20:17] #38 closed

[2016-06-15 22:29] Kiminaka opened #296 "General question on how to use the Code Introspection"
Hi, I'm loving Hydrogen! It's replacing my work on Ipython Notebook.

But I am having trouble to use Code Introspection. It looks like a great feature coming from NB. But how exactly can I use it?

Following the instruction,

, I clicked on `"Hydrogen: Inspect"` but the below message pop up and the metadata wasn't shown.

<img width="467" alt="screen shot 2016-06-15 at 3 24 49 pm" src="https://clo

[2016-06-15 22:40] lgeiger commented on #296
Thanks for your feedback!

The completion result depends on the cursor position. Place the cursor somewhere inside the word `linspace` or highlight it and it should work.

Also make sure to run the `import numpy` before requesting the completion.

[2016-06-15 22:44] Kiminaka commented on #296
Ah, this was a silly question.. Yes positioning the cursor inside the word worked! But highlighting it didn't work(?)

[2016-06-15 22:48] Kiminaka commented on #296
Also this wouldn't be possible on Atom but if I can type `tab+shift` just like NB and metadata pops up, it'd be super useful :)

[2016-06-15 22:48] lgeiger commented on #296
Ah sorry you have to highlight `numpy.linspace` to make it work. Or import `linspace` with `from numpy import linspace` or `from numpy import *`.

[2016-06-15 22:57] lgeiger commented on #296
`tab+shift` is currently used by Atom itself for indentation.

But you can define a custom keyboard shortcuts for this function for yourself by adding
[code]
to your Atom keymaps file.

[2016-06-15 22:57] #296 closed

[2016-06-16 06:06] AlexandreKempf opened #298 "New install, problem with the output of hydrogen:run"
Dear hydrogen people,

First of all thank you for this incredible package ! It's a little revolution and it's helping a lot coder's lifes !

I reinstall atom and hydrogen from scratch in order to have the new version of both. Now when I'm executing my code with hydrogen the result is always a check.
On the previous version, if only a variable was selected, the return value was the variable. Here i

[2016-06-16 06:38] n-riesco commented on #298
I haven't tried to reproduce the issue in a new install.

I've sometimes seen a similar issue when using `libzmq` instead of `libzmq3`.

Could you post your OS, atom and ZMQ versions?

If you uninstall and install back Hydrogen, do you get any error messages?

[2016-06-16 07:07] AlexandreKempf commented on #298
Sorry for the lack of details of the original post.
I'm running a Ubuntu14 with the last version of atom (1.8.0 I guess).
I don't know how to know my ZMQ version but I know the libzmq3 is installed !

Finally I tried to uninstall and reinstall hydrogen and I get the same problem :)

I get an weird error message when I uninstall hydrogen saying :
Uninstalling hydrogen ✗
Failed to delete hydrogen: D

[2016-06-16 07:11] AlexandreKempf commented on #298
I found the problem thanks to you !!

**The package libzmq3-dev was missing**. After I install it I reinstall hydrogen and everything is working perfectly :) !!

Thank you very much for your help !

Alex

[2016-06-16 07:13] #298 closed

[2016-06-16 07:34] AnthonyJacob opened #299 "Uncaught TypeError: Cannot read property 'substr' of null"
When updating to hydrogen 0.10.0 I get this error:

[2016-06-16 07:47] AnthonyJacob commented on #299
Solved by reinstalling he package...

[2016-06-16 07:50] lgeiger commented on #299
Great! 🎉

[2016-06-16 07:50] #299 closed

[2016-06-16 08:01] n-riesco commented on #293
This is not possible at the moment. Atom's CSP policy changed in v1.6.0 and injected scripts aren't allowed.

We have issue #27 opened to track this feature.

[2016-06-16 08:01] #293 closed

[2016-06-19 11:52] florian-wagner opened #300 "Feature request: Toggle inline plots"
Dear hydrogen devs,

thank you for this awesome plugin. After a long journey from spyder over vim-ipython to the jupyter notebook with vim bindings, I found the perfect environment for me: atom + vim-mode + hydrogen.

Icing on the cake would be the opportunity to toggle inline plots. I find typing `%matplotlib inline` quite unusual in normal Python scripts and most of the time I want to use a mixt

[2016-06-19 12:12] RobBW commented on #279
lgeiger's advice to remove ~/.atom/packages/Hydrogen/ did not help because there were no packages to find.

However I found and deleted 4 identical copies of the unpacked Hydrogen  package in  /private/var/folders/jj/x_wp_0257_nfp529qm60f90h0000gn/T/npm-39677-c351c005/unpack-d14c24747d76
There was no apm-install-dir or npm-debug file.

Further exploration of the build problem led me here:
https://

[2016-06-20 12:52] florian-wagner commented on #300
Yes that helps to set up inline plots by default, but is there a way to toggle them, i.e. send something like ```plt.ion()``` per atom keybinding to the python kernel used by hydrogen? Thanks a lot.

[2016-06-20 14:35] n-riesco commented on #300
As far a I know, Atom doesn't provide a macro recording feature.

Perhaps [atom-macros](https://atom.io/packages/atom-macros) may be of help. I will experiment with `atom-macros` when I find some time, and post back the results here.

[2016-06-20 20:46] lgeiger commented on #300
I have a (quite strange 😉 ) solution to your problem.

You can create a separate python kernel which uses the inline option. To do this:
- locate the python kernelspecs folder with `jupyter kernelspec list`
- in there should be a `kernel.json` file (if not run `ipython kernel install`)
- duplicate the whole folder
- and change change the `display_name` in `kernel.json` to something else (e.g. `Pyt

[2016-06-21 06:23] n-riesco commented on #300
@lgeiger The problem with switching kernels is that toggling the display mode would require to re-run all the previous code.

[2016-06-21 11:49] lgeiger commented on #300
Yes thats true, but I think changing the matplotlib display mode requires a kernel restart anyway.

[2016-06-21 18:01] mmngreco opened #301 "can't install, mac os x, anaconda4, python3"
Hi all,

My device:

- Anaconda 4
- Mac OS X captain
- Python 3.5

I get this error log:

[code]

[2016-06-21 18:50] n-riesco commented on #301
Node.js requires Python 2 to install native modules (see Hydrogen's requirements [here](https://github.com/nteract/hydrogen/blob/master/README.md#homebrew-on-os-x)). Note that Python2 and Python3 can coexist.

[2016-06-21 19:02] lgeiger commented on #301
Mac OS X has Python 2 preinstalled.
Running `PYTHON=python2 apm install hydrogen` should work for you.

[2016-06-21 19:57] mmngreco commented on #301
@n-riesco Thanks, so should install py2 with brew or anaconda?

---

@lgeiger Thanks, I forget this... but that not solve the problem, here de trace:

[code]

[2016-06-21 20:05] lgeiger commented on #301
You could also try `PYTHON=/usr/bin/python apm install hydrogen`. This will use the system python for building.

[2016-06-21 20:11] n-riesco commented on #301
@mmngreco This would work in linux: `apm config set python $(which python2)`

[2016-06-21 20:15] mmngreco commented on #301
@lgeiger Yey, It's works, Many thanks!

[2016-06-21 20:15] #301 closed

[2016-06-21 20:26] lgeiger commented on #301
Great! 🎉
Now you can run `apm config set python /usr/bin/python` to set this as the default for `apm`.  And in the future just use `apm install hydrogen`.

[2016-06-21 20:28] mmngreco commented on #301
Cool, nice tip. Thanks again.

bests!

[2016-06-21 20:32] n-riesco opened #303 "Document `apm config set python $(which python2.7)`"

[2016-06-21 20:36] lgeiger commented on #301
I still don't understand why `PYTHON=python2 apm install hydrogen` didn't work with anaconda.

@mmngreco can you run `which python2` and post the output?

[2016-06-21 20:40] mmngreco commented on #301
of course, here is:

[code]
There no output

With run `which python`:
[code]

[2016-06-21 20:47] lgeiger commented on #301
Thanks! I see, the `python2` variable isn't set by default. Can you try if  `which python2.7` returns something?

[2016-06-21 20:49] mmngreco commented on #301
yes, now get this output:

[code]

[2016-06-21 20:57] lgeiger commented on #301
Awesome! I just wanted to know if we need to update the readme for anaconda and mac os x.

[2016-06-21 21:24] n-riesco opened #304 "Hydrogen keybindings"
Moving the discussion from [here](https://github.com/nteract/hydrogen/pull/227#issuecomment-202116496) and [here](https://github.com/nteract/hydrogen/pull/227#issuecomment-202126973).

---

Shall we add a setting to enable the keybindings that we would like to introduce in Hydrogen v1.0.0?

? `hydrogen:inspect`

C-enter `hydrogen:run`
S-enter `hydrogen:run-and-move-down`

A-C-enter `hydrogen:run-c

[2016-06-21 21:25] lgeiger commented on #263
Take a look at #305

[2016-06-21 22:11] lgeiger commented on #304
`hydrogen:clear-results` on the mac is mapped to cmd-alt-backspace, is ctrl-alt-backspace available on linux and windows?

For me I have `hydrogen:inspect` mapped to cmd-ctr-i to avoid complications with `atom-script` (which uses cmd-i and shift-cmd-i) but that wouldn't work on windows. What do you think about alt-i?

For `hydrogen:add-break-point` on mac, cmd-ctrl-b would work, but I couldn't com

[2016-06-22 07:45] n-riesco commented on #304
On 21/06/16 23:11, Lukas Geiger wrote:

It's assigned to `bracket-matcher:remove-matching-brackets`.

alt-i is free in linux

shit-ctrl-b would work in linux

I don't know if there is an API to do this dynamically, but if there isn't, we can hack our way like this:

- define `hydrogen-exp:*` commands that are equivalent to the corresponding `hydrogen:*`. This experimental commands would run only i

[2016-06-22 07:49] n-riesco commented on #304
https://atom.io/docs/api/v1.8.0/KeymapManager

[2016-06-22 20:54] lgeiger commented on #304
We can rename the keymaps folder (so no keymaps are loaded by default) and use `atom.keymaps.loadKeymap` to load the desired keymaps file.
But in order to make this work, we have to remove the `activationCommands` from `package.json` because there would be no way of activating Hydrogen with a keymap. Instead Hydrogen would be activated on startup of atom.

[2016-06-22 22:51] nikitakit opened #306 "Run-and-move-down doesn't display result on last line of file"
Activating run-and-move-down while on the last line in the file (no trailing newline) causes the result bubble to not displayed. In addition to not showing the output, this creates the false impression that nothing was executed.

I suspect the cause is that the move-down operation has to create a new line where one previously did not exist, which triggers the output bubble to be hidden.

[2016-06-23 10:48] n-riesco commented on #304
What would be the drawbacks of activating Hydrogen on startup?

I guess we could do something like this:
- on startup invoke:
  - `Config.onDidChange` with a callback to handle changes in the Hydrogen setting to toggle the experimental features;
  - and `atom.workspace.observeActivePaneItem` with another callback to:
    - dispose previous subscriptions (commands, observers, keymaps)
    - if ther

[2016-06-23 10:50] #303 closed

[2016-06-25 04:46] amelio-vazquez-reina opened #307 "Cell mode for easy code selection"
I just learned about this fantastic package and I'm wondering if there are any plans to implement "cells" for easy code selection and evaluation.

Let me explain. By "cells" I refer to **code blocks** that can be delimited by lines holding a certain combination of characters (e.g. `##` in Python). When the cursor is within a given cell, the user can use a keyboard shortcut to **quickly** select th

[2016-06-25 16:54] n-riesco commented on #306
I can't reproduce this issue. Could you post the file you're using to reproduce this issue?

[2016-06-25 16:59] n-riesco commented on #307
We're currently working on similar feature that is language agnostic. See #227 and #309

[2016-06-25 21:37] n-riesco commented on #304
@lgeiger The main problem I see with the `KernelManager.loadKeymap` is that it doesn't return the the corresponding `CompositeDisposible`, that would allow us to unload the keymap when the experimental setting changes.

At the moment I think that the hacky way I proposed above is easier.

[2016-06-26 10:27] oztalha opened #310 "help with question mark?"
My Atom fails to show the help menu as in IPython. When I succeed a function name with a question mark I would expect it to show what `help(my_function)` shows but instead nothing happens when I run `my_function?`

Wrapping the function name with `help()` is cumbersome, a question mark makes getting help way more convenient. Could you please implement this feature? (Indeed I'm very surprised that

[2016-06-26 10:36] alexdrymonitis opened #311 "How to run Hydrogen with Python2?"
Hi all,
New both to Atom and Hydrogen. I managed to install and active Hydrogen with help I got from Atom's forum, in this [thread](https://discuss.atom.io/t/how-to-use-the-hydrogen-package/30190). First I used pyvenv-3.4 (which was available in the Debian Jessie repositories I have in my apt-get), as advised [here](https://discuss.atom.io/t/how-to-use-the-hydrogen-package/30190/6), and then tried

[2016-06-26 11:40] n-riesco commented on #310
Hydrogen provides this functionality via the command `hydrogen:inspect`. See #296 for more information.

[2016-06-26 11:58] n-riesco commented on #311
It's hard to tell without seeing the error messages Hydrogen displays.

I will guess the issue is that Debian Jessie provides an old version of IPython (v2.3.0) and this Hydrogen is unable to detect the python kernelspec automatically. Assuming you want to use the Python kernel, see [this comment](https://github.com/nteract/hydrogen/issues/176#issuecomment-196391464) for an example to set kernelsp

[2016-06-26 12:29] econwang opened #312 "IRkernel doesn't work with CRLF line endings"
thanks for providing this, very useful, I do use it with python and stata, but with R, as suggested by the readme, it should work with IRKernel, if I only select one line, it works well, but when select multi lines or the whole file, it shows:
[code]

the r code is:
[code]

[2016-06-26 13:29] oztalha commented on #310
doh! Thanks

[2016-06-26 13:29] #310 closed

[2016-06-26 14:47] alexdrymonitis commented on #311
When I first open a python file I get the following error message (if this is of any significance):
[code]
It works fine though. If I run the following code:
[code]
I get this:
[code]

These are installed in my system.

In ~/.atom/packages/Hydrogen/spec there's hydrogen-spec.coffee, in which I can see this:
[code]
There's Python 2 there but Hydrogen won't use it.  Is there something I should do ma

[2016-06-26 14:52] amelio-vazquez-reina commented on #307
Thank you @n-riesco! It looks like https://github.com/nteract/hydrogen/pull/227 was already merged, does it mean that the feature I am asking about in this issue is ready?

[2016-06-26 15:11] alexdrymonitis commented on #311
Ok, found how to open the command palette (sorry, I'm a noob in Atom), and selected
[code]
and I only get Python 3. Getting closer? How can I add Python 2 there?

[2016-06-26 16:33] n-riesco commented on #307
We haven't published this feature yet. If you want to try it out, [here](https://github.com/nteract/hydrogen#development) are some instructions to install Hydrogen's development version.

[2016-06-26 16:42] n-riesco commented on #311
To edit Hydrogen's settings, go to `Edit > Preferences > Packages > Hydrogen > Setting`.

Just to make sure that IPython 2 is accessible in your machine, could you post the output of running `ipython --version`?

[2016-06-26 22:22] nikitakit commented on #306
Steps to reproduce (in parentheses are action names, and the keyboard shortcuts on my system):
* Open a new file (Application: New File; Cmd-N)
* Switch to Python syntax (Grammar Selector: Show; Cmd-Shift-L; also available via toolbar on bottom)
* Type "1"
* Do run-and-move-down (Hydrogen: Run and Move Down)

Expected behavior: output "1" is shown
Actual behavior: no output is shown

It helps to h

[2016-06-26 23:00] quintona opened #314 "Progress updates for execution"
At present, any execution simply displays a simple progress update during the execution. This works really well for short running executions, for calls that take more time (complex executions, that launch cluster wide or involve some lengthy process, like training an ML model) there is no way of differentiating between a failure (it will never return) from something that is just running for a long

[2016-06-26 23:07] quintona opened #315 "Remote kernel in vagrant box"
Rather than use your suggested docker approach, I opted to run my python kernel in a seperate vagrant box, for the following reasons:

- The state of docker on OSX
- Even if docker was in a good state, my target environments are linux, not OSX
- It simulates actual environments correct, where my target workflow is to run the kernel on a remote box that has some GPUs in it.

To start with I decided

[2016-06-27 14:04] alexdrymonitis commented on #311
I edited the "Kernel Mappings" field, from:
`{"python":"Python 3"}`
to
`{"python":"Python 2"}`
but it didn't work.

The "Kernel Specs" field has this:
`{"kernelspecs":{"python3":{"resource_dir":"/home/alex/dev/hydrogen/src/venv/lib/python3.4/site-packages/ipykernel/resources","spec":{"env":{},"argv":["/home/alex/dev/hydrogen/src/venv/bin/python3.4","-m","ipykernel","-f","{connection_file}"],"displ

[2016-06-27 14:40] n-riesco commented on #311
Hydrogen can't detect IPython v2.3.0. You need to set KernelSpec manually.

The following setting for "Kernel Specs" should work:

[code]

[2016-06-27 16:39] alexdrymonitis commented on #311
Still not working. Can't see "Python 2" under "Select Kernel"...
Thanks though.

[2016-06-27 16:42] n-riesco commented on #311
There shouldn't be any need for selecting the kernel, since you've already set `Kernel Mappings` to `{"python":"Python 2"}`. What happens when you try to run a line?

[2016-06-27 16:53] alexdrymonitis commented on #311
I had switched that back to `{"python":"Python 3"}`. I changed it again to `{"python":"Python 2"}` and now I get an error:
`No kernel for language python found`
`Check that the language for this file is set in Atom and that you have a Jupyter kernel installed for it.`

[2016-06-27 17:39] n-riesco commented on #311
That was my bad. I made a mistake copy'n'pasting the "Kernel Spec" settings. This works for me:

[code]

[2016-06-27 19:27] alexdrymonitis commented on #311
That worked!
Don't really know what's going on, but I'm happy with it. Thanks a bunch for your help and time!

[2016-06-27 20:50] n-riesco commented on #311
The problem is that IPython v2.3.0 doesn't provide the command `ipython kernelspec` (that Hydrogen uses to locate the kernels installed in a computer).

The setting `Kernel Spec` contains the output of running `ipython kernelspec`, so that if a computer cannot run `ipython kernelspec`, the user still has the possibility to set it manually.

It is really unfortunate that Debian and Ubuntu provide s

[2016-06-27 20:50] #311 closed

[2016-06-27 21:22] lgeiger commented on #304
You're right. With `kernelManager.loadKeymap` changing the keymap would require a restart of Atom.

[2016-06-27 22:44] lgeiger opened #317 "[DISCUSS] Save breakpoints"
It would be awesome to save the breakpoints even if atom is restarted.

I see two ways of doing this:
1. Save the position of the breakpoints to a separate file in the `./hydrogen/` folder. A downside would be, that it will break if the file is changed outside of atom.
2. Use text to identify breakpoints like `# %%` and parse the file before execution or add markers to those positions. We could ma

[2016-06-28 07:20] n-riesco commented on #317
Option 2 would go against the policy of having code specific to a language.

I would try to make option 1 as smart as possible. For example:
- record row number and row content
- if row number and content don't match the current file, then search the row content:
  - if only one row is found with the same content, the update then breakpoint record,
  - else remove the breakpoint and report this to

[2016-06-28 07:27] n-riesco commented on #317
I changed the title to get the other's attention.

[2016-06-28 07:34] lgeiger commented on #317
I don't think option 2 would introduce language specific code, but it could lead to potential problems with certain languages.

A smart option 1 is a great idea, since parsing only need to happen on startup. The only problem arises if the file is renamed externally, but this is something we can tell users to watch out for.

[2016-06-28 07:41] lgeiger commented on #317
We could even use something like [jsdiff](https://github.com/kpdecker/jsdiff) to make the parsing more robust.

[2016-06-28 07:45] n-riesco commented on #317
On 28/06/16 08:34, Lukas Geiger wrote:

If I understand correctly this would mean, the breakpoint save functionality would only work for languages that use '#' to mark comment lines.

In the case of an external file rename, I'd advise the user to rename as well the file that stores the breakpoint records under `./hydrogen`.

[2016-06-28 08:04] lgeiger commented on #317
No. For example Atom uses [this](https://github.com/atom/atom/blob/master/src/language-mode.coffee#L351) for getting the correct comment symbol for the language. This is something we could do as well and search for `{comment symbol} %%`.

[2016-06-28 10:04] RobBW opened #318 "'apm rebuild' command errors"
I have been trying to solve the problem I raised in Issue 279.
When I ran 'apm rebuild' I received very similar error messages concerning failure of the ' node-gyp rebuild' command.

I attach a record of my Terminal session and the npm-debug.log
[apm rebuild session.txt](https://github.com/nteract/hydrogen/files/336728/apm.rebuild.session.txt)

[npm-debug.log.txt](https://github.com/nteract/hydrog

[2016-06-28 10:11] n-riesco commented on #317
On 28/06/16 09:04, Lukas Geiger wrote:

This sounds really useful and makes option 1 a possibility (which requires less effort than option 2).

I'd like to hear what the others think.

[2016-06-28 10:16] n-riesco commented on #318
The rebuild log complains that `pkg-config` cannot find `libzmq`. Could you post the output of `pkg-config libzmq --libs`?

[2016-06-28 20:49] RobBW commented on #318
Output of pkg-config libzmq --libs:

[robw]$ pkg-config libzmq --libs
Package libzmq was not found in the pkg-config search path.
Perhaps you should add the directory containing `libzmq.pc'
to the PKG_CONFIG_PATH environment variable
No package 'libzmq' found

[robw]$ export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig
[robw]$ echo $PKG_CONFIG_PATH
/usr/local/lib/pkgconfig
[robw]$ pkg-config libzmq --

[2016-06-28 22:04] RobBW commented on #318
Forgot to say running apm rebuild with the PKG_CONFIG_PATH=/usr/local/lib/pkgconfig produces the same error message as posted in apm rebuild session.txt posted above

[2016-06-29 14:37] n-riesco commented on #318
Does is work if you run instead `PKG_CONFIG_PATH=/usr/local/lib/pkgconfig apm rebuild`?

[2016-06-29 21:18] RobBW commented on #318
No, it still does not work.

Debug file attached
Regards
Rob

[2016-06-30 06:59] n-riesco commented on #318
It seems Github dropped the email attachment.

[2016-06-30 09:47] Foucl commented on #317
I would find option 2 very attractive. I really enjoy defining sections with markup in the matlab IDE as described by amelio-vazquez-reina in #307. from a (my) user's perspective, having these definitions visible in the code itself would definitely be preferable.

[2016-06-30 11:10] RobBW commented on #318
Forgot github doesn’t like the “log” extension.
This time

Rob

0 info it worked if it ends with ok
1 verbose cli [ '/Applications/ Codingware/Atom.app/Contents/Resources/app/apm/bin/node',
1 verbose cli   '/Applications/ Codingware/Atom.app/Contents/Resources/app/apm/node_modules/npm/bin/npm-cli.js',
1 verbose cli   '--globalconfig',
1 verbose cli   '/Users/robw/.atom/.apm/.apmrc',
1 verbose cli

[2016-06-30 15:12] n-riesco commented on #318
I usually find `npm-debug.log` of little help.
The error messages on the console are usually more informative.
Having said that, I've noticed something that potentially can confuse many build scripts.
Atom in your computer is installed in a path that contains spaces `/Applications/ Codingware/Atom.app`.
Probably, the error messages in the console could help tell whether this is the issue.

[2016-07-01 20:24] nikitakit commented on #317
As a user, I also find option 2 (special comment syntax) to be more attractive.

If I'm working on a small group project, I find it a lot more tenable to have the cell-split annotions be in comments that are commited to version control, than to have them break every time I pull code from people who used a different editor.

[2016-07-02 00:58] nikitakit opened #319 "Interrupt Kernel command kills the kernel instead"
`handleKernelCommand` should call `kernel.interrupt` instead of killing the kernel.

[2016-07-03 07:54] n-riesco commented on #317
@lgeiger Looks like everyone supports option 2.

Since potentially we could make use of comments for many other purposes, I think the format of the comment should reflect somehow that it marks a Hydrogen breakpoint.

[2016-07-03 10:24] #319 closed

[2016-07-03 10:30] lgeiger opened #321 "Update status bar after kernel restart"
It would be great to update the status bar directly after the `restart-kernel` and `switch-kernel` commands to reflect the changes.

Currently the status bar is only updated on execute.

[2016-07-03 10:40] lgeiger commented on #317
[Spyder](https://github.com/spyder-ide/spyder/blob/ef38c3837b4a08ee26435efff4d180e762f0cc00/spyderlib/utils/sourcecode.py#L35) uses `#%%`, `# %%`, `# <codecell>` or `# In[`. I think we should support them as well. The last option is quite handy, because this is what `jupyter notebook` exports.

[2016-07-03 18:37] n-riesco commented on #317
@lgeiger nice finding!

[2016-07-04 18:36] n-riesco commented on #306
@nikitakit I couldn't reproduce this issue. Could you take a screenshot of what you see in the dev console (shift-ctrl-i)?

[2016-07-05 08:32] lgeiger commented on #317
I'll make a PR next week once I submitted my thesis and have some spare time :)

[2016-07-05 08:33] lgeiger commented on #307
I close this issue in favor of #317.

[2016-07-05 08:33] #307 closed

[2016-07-05 08:43] n-riesco commented on #317
On 05/07/16 09:32, Lukas Geiger wrote:

Congrats on the thesis submission!

[2016-07-05 08:49] lgeiger commented on #317
Thanks! It's only a bachelor thesis but it takes some time too ;)

[2016-07-05 17:42] #321 closed

[2016-07-05 19:19] n-riesco commented on #272
To get the discussion in this issue re-started. Here are the main questions I thought we need to answer:

1. How to locate kernel specs
    - Currently: use `jupyter kernelspec`
    - Proposed: use a javascript-only library

2. How to set the setting `kernelSpec`
    - Currently: merge user setting with output of `jupyter kernelspec`
    - Proposed: `kernelSpec` only stores user setting

3. How to

[2016-07-05 21:49] lgeiger commented on #272
Just a question at the beginning:
Do we need the kernelSpec setting if we make `jupyter` a dependency? This would simplify the code a lot and would make bullet point 1 very easy to achieve plus it is easy to install with `pip/conda install jupyter` and `ipython kernel install` on every system and easier than editing json. For my understanding this setting is here for useres who have an old `ipytho

[2016-07-05 21:57] lgeiger commented on #315
I have never used remote kernels so I'm no expert on this. For me this sounds like an interesting addition to Hydrogen if it doesn't introduce any language dependent code.

@rgbkrk @n-riesco @slavaGanzin what do you think?

[2016-07-05 22:02] lgeiger commented on #314
I don't think this is possible to do in an language independent way, at least for now.

At least for python you can trie http://pythonhosted.org/progressbar2/ or https://github.com/tqdm/tqdm.

[2016-07-05 22:23] rgbkrk commented on #315
If I had more time, I'd go after making a remote API that's simple to use and automatic to secure.

From both Electron apps and Atom (which is basically Electron under the hood), we can generate private and public key pairs to connect over TLS, launch a Docker container (or vagrant box), and connect with strict PKI that was setup before, relying on websockets to connect to the kernel (a la the the

[2016-07-05 22:44] nikitakit opened #324 "Enable kernel connections via kernel gateway"
The [Jupyter Kernel Gateway](https://github.com/jupyter/kernel_gateway) is a top-level Jupyter project that enables spawning and communicating with kernels over an HTTP/Websockets API.

I'm curious if people here would be interested in adding the capability to connect to kernels via this mechanism.

My personal motivation for suggesting this approach is in enabling better support for remote kernel

[2016-07-05 23:09] nikitakit commented on #306
I'm surprised you can't reproduce. The dev console output is not useful, so I went and debugged it myself.

Video of the issue: http://imgur.com/a/Ux2zW

And a fix (not very good abstraction, but I can't come up with a better alternative offhand)
[code]
The issue is the bubble is created, then `moveDown` calls `@editor.insertNewline()`, which immediately invalidates the bubble.

[2016-07-06 08:21] n-riesco commented on #272
On 05/07/16 22:49, Lukas Geiger wrote:

I'm against making Jupyter a dependency. I'd like Hydrogen to run out of the box (i.e. no need to install ZMQ or Jupyter; we're far from achieving this).

Otherwise, we won't stop the constant flow of issues reporting problems with the installation of ZMQ and Jupyter.

Ditto: we would have to deal with issues reported by users expecting Hydrogen to work with

[2016-07-06 09:45] n-riesco commented on #306
Apparently I can't follow instructions to the letter :disappointed: !
Anyway, I can now reproduce it and to trigger this issue is important that the file is untitled.

[2016-07-06 09:57] lgeiger commented on #306
I think we could fix this, if we change the way the marker for the result bubble is set (https://github.com/nteract/hydrogen/blob/master/lib/main.coffee#L163). So it isn't invalidated if a new line is inserted.

[2016-07-06 10:01] n-riesco commented on #306
@lgeiger I'm still trying to understand why it doesn't happen with named files.

[2016-07-06 10:05] lgeiger commented on #306
I can reproduce this issue now with named files as well. The important thing is that no newline is inserted by atom at the bottom.

[2016-07-06 10:34] n-riesco commented on #306
On 06/07/16 10:57, Lukas Geiger wrote:

Do you mean that we wouldn't ever invalidate markers?

[2016-07-06 10:38] lgeiger commented on #306
I haven't thought about this in detail but I think marking the beginning of the line instead of the end would prevent this issue.

[2016-07-06 10:48] n-riesco commented on #306
@lgeiger It works! Shall I submit a PR?

[2016-07-06 10:53] n-riesco opened #325 "Use coffeelint"
Open issue as a [reminder](https://github.com/nteract/hydrogen/pull/322#issuecomment-230601773).

[2016-07-06 11:12] lgeiger commented on #306
@n-riesco Great go ahead!

[2016-07-06 11:26] n-riesco commented on #306
@lgeiger I spoke too fast. After further testing, having the marker located at the beginning of the line only invalidates the marker if the beginning of the line is changed.

[2016-07-06 11:31] lgeiger commented on #306
@n-riesco Yes thats true. We could also mark the whole line and use an different [invalidate option](https://atom.io/docs/api/v1.8.0/TextBuffer#instance-markRange)

[2016-07-06 11:55] n-riesco commented on #306
@lgeiger I've tried:
[code]
but it fails to invalidate when changing the end of a line.

I've also tried:

[code]
but it displays the same problem as `markBufferPosition`.

I think we could use `markBufferPosition` to improve how the result bubbles are invalidated, but I'd leave this for another PR.

I'm getting more convinced that, to solve this issue, we need to treat files not ending with an EO

[2016-07-06 12:14] lgeiger commented on #306
@n-riesco Thanks a lot for investigating!

I agree. We could simply don't call `@moveDown` if the cursor is at the last line.

[2016-07-07 03:52] qixiang109 opened #326 "does not show print output in a hydrogen bubble"
all features work  but the "print" function doesn't show the output in a bubble, but only with a √ mark to the right.  I am using an anaconda python. It this a problem of anaconda?

[2016-07-07 08:17] lgeiger commented on #326
I can't reproduce this. Could you try to run Hydrogen again and open the dev console (shift-ctrl-i) and post a screenshot of the output.

[2016-07-07 12:59] slavaGanzin commented on #272
1. "javascript-only solution" is just hardcoded paths and it often fail.
Parsing ```jupyter kernelspecs``` should be moved to https://github.com/nteract/kernelspecs by design. And used by hydrogen as dependency.

2. ```Jupyter/ipython kernelspecs``` should be optional, but preferred way. Jupyter/ipython shouldn't be a dependency. But it should be recommended.

3. I think two options for selecting

[2016-07-08 00:51] nikitakit commented on #324
I did a pass at implementing kernel gateways in #330

[2016-07-08 05:37] nikitakit opened #331 "[Feature request] Show execution count in results bubble"
The Jupyter notebook numbers any return values from cells, e.g. `Out [3]`. This number is called the `execution_count` in the Jupyter messaging spec.

I often find myself wanting to refer to the output of a previous computation, but the reference is currently not exposed through hydrogen. I think it would be useful to render the number somewhere or add a copy-execution-count button to the right si

[2016-07-08 07:56] #306 closed

[2016-07-08 08:12] n-riesco commented on #314
The way to determine the kernel didn't stall is checking the kernel heartbeat.

Currently, Hydrogen doesn't check the kernel hearbeat. We could implement this, but unfortunately the kernel heartbeat has been deprecated. See https://github.com/jupyter/enhancement-proposals/pull/14 .

[2016-07-08 08:26] n-riesco commented on #315
@quintona I think your PR should only update `README.md` (similarly to [this commit](https://github.com/nteract/hydrogen/pull/295/commits/65a242254b6636f193e437014937858a3226de11)).

Also, it'd be nice if the proposed the vagrant solution would offer a functionality similar to the docker solution (i.e. reuse the connection file created in the docker/vagrant container).

[2016-07-09 05:46] #317 closed

[2016-07-10 10:32] #325 closed

[2016-07-10 10:34] n-riesco opened #336 "`hydrogen:inspect` is broken for `text/html` results"
While testing the last PR I noticed that `hydrogen:inspect` has been broken for some time.

I won't be able to look at this until tonight or tomorrow.

[2016-07-10 11:48] lgeiger commented on #336
Strange `hydrogen:inspect` works for me as expected.

[2016-07-10 12:16] n-riesco commented on #336
Must be something to do with my setup.

[2016-07-10 22:13] RobBW commented on #318
n-riesco's suggestion worked.
On MacOS 10.11.5 all I had to do was remove the space from the file path and do:
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig to provide the link to libzmq.
Hydrogen installed without any further problems.
Thank you all

[2016-07-10 22:13] #318 closed

[2016-07-10 22:16] RobBW commented on #279
Following advice received on issue 318 this issue was resolved.
I replied there as follows:
n-riesco's suggestion worked.
"On MacOS 10.11.5 all I had to do was remove the space from the file path and do:
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig to provide the link to libzmq.
Hydrogen installed without any further problems.
Thank you all"

[2016-07-10 22:16] #279 closed

[2016-07-10 23:24] #39 closed

[2016-07-10 23:25] lgeiger commented on #39
See #138

[2016-07-11 08:10] n-riesco commented on #318
@RobBW Thanks for reporting back and investigating the issue with ZMQ v2.15.1

[2016-07-11 09:47] n-riesco opened #342 "`hydrogen:inspect` is broken for kernels speaking protocol v4"
Ubuntu  16.04 provides IPython v2.4.1 and this kernel doesn't understand v5 of Jupyter messaging protocol.

[2016-07-11 09:49] n-riesco commented on #336
It works with the Julia kernel but fails with IJavascript.

[2016-07-11 09:57] n-riesco commented on #336
This bug seems to be trigger by inspection results returns in `text/html` format. Transform return an `el` that is a `#document-fragment` that has no `innerHTML`.

I'll wait to fix this issue until after #338 is merged.

[2016-07-11 11:27] qixiang109 commented on #326
today when I tried again, the problem disappeared, I don't know why, but it suddenly works. Thank you for your reply,  fantastic package!

[2016-07-11 15:14] #203 closed

[2016-07-13 12:43] #336 closed

[2016-07-15 10:01] cgav opened #349 "Logo looks very similar to Ionic Logo"
The logo looks incredibly similar to the Ionic Logo (http://ionic.io/).

[2016-07-15 15:14] jdeisenberg opened #352 "Low priority: replace test image in README screenshot"
Isn't it about time to retire the "Lenna" image (shown in the demo.lua screenshot after the text starting "But it *should* work with any kernel...") for reasons stated here: http://imagecompression.info/test_images/

[2016-07-15 15:18] rockymadden commented on #349
I've found many more too: https://www.google.com/search?q=hydrogen

As such, I propose we change the name to lawrencium.

[2016-07-15 18:27] scopatz opened #353 "remove lena image from docs"
Almost any other image would be better. Perhaps consider an image of Rear Admiral Grace Hopper

[2016-07-15 18:44] n-riesco commented on #353
cc/ @willwhitney :smile:

[2016-07-15 18:47] willwhitney commented on #353
Go for it! It's only there because it's built in to [torch/image](https://github.com/torch/image) so it was quick to show image rendering.

[2016-07-15 18:50] n-riesco commented on #352
cc/ @willwhitney :smile:

Since this is proving a popular subject, maybe we should held a poll and see if people can come up with something *"better"* than [Boaty McBoatface](https://duckduckgo.com/?q=Boaty+McBoatface&t=canonical&ia=web).

[2016-07-15 19:30] beginrescueend opened #354 "Hydrogen seems to work with iElixir (Jupyter Kernel for Elixir)"
It didn't seem to, at first, but I did a couple of small things and it worked:
  https://github.com/pprzetacznik/IElixir/issues/18

[2016-07-15 19:47] n-riesco commented on #354
@beginrescueend Thank you for the report!

[2016-07-15 19:47] #354 closed

[2016-07-15 21:29] beginrescueend commented on #354
Welcome (and thank you).

I first heard about Hydrogen on YCombinator News today.  I read the comments afterward, and found that somebody else reported success with iElixir:
  https://news.ycombinator.com/item?id=12099646
  https://news.ycombinator.com/item?id=12101107

[2016-07-15 21:34] rgbkrk commented on #349
Lawrencium is definitely not happening as a name change.

Amusingly, our logo changed to purple some time ago (and flipped direction) to look less like the Ionic logo (we were unaware). Someone flipped this back to the "cool blue" again. Someone can certainly make a new one that continues to work well as the in-Atom logo.

[2016-07-15 21:41] beginrescueend commented on #349
This is another look at Hydrogen -- its spectral lines:
  https://ch301.cm.utexas.edu/svg/H-emission-spectrum.svg

[2016-07-15 21:42] n-riesco commented on #349
@beginrescueend Genius!

[2016-07-15 21:43] rgbkrk commented on #353
Totally agree with switching that image out.

[2016-07-15 21:49] rgbkrk commented on #352
Totally on board.

[2016-07-15 23:50] lgeiger commented on #349
We could use some stylized version of the spectral series similar to this: http://chemwiki.ucdavis.edu/@api/deki/files/27811/=96ab7ad43a8411f966e5390c6781c1d0.jpg?revision=1

[2016-07-16 02:43] montogeek commented on #353
What is the problem with the image?

[2016-07-16 02:46] scopatz commented on #353
its history makes it inappropriate https://en.m.wikipedia.org/wiki/Lenna

[2016-07-16 02:52] montogeek commented on #353
Let's remove he image please :)

[2016-07-16 12:58] #352 closed

[2016-07-16 12:58] #353 closed

[2016-07-16 13:36] scopatz commented on #353
thanks a million, I really appreciate it

[2016-07-16 15:16] rgbkrk commented on #349
Keep in mind that it has to fit as a 32x32px logo within the use of Atom. The logo we stick on the README can be almost anything.

[2016-07-16 15:35] 2426021684 opened #357 "Does this work with IHaskell?"
I tried running it. All I get is a check mark at the end of the file. Python kernel works.

[2016-07-16 16:57] sirinath opened #358 "Hard Time Installing on Windows"
I am getting the following errors:

[code]

My platform is Win10 x64. I have VS2013 installed. I have both Python 2 & 3 installed through the respective Anaconda installer. In the shell I am executing the above has only Python 2 in the path.

[2016-07-16 17:21] rockymadden commented on #349
@rgbkrk Reread with `/s` tag :)

[2016-07-17 02:12] 2426021684 commented on #357
It works if I call the main function at the end.

[2016-07-17 02:12] #357 closed

[2016-07-18 18:32] n-riesco commented on #358
Unfortunately, the error message isn't very informative.
Could you post the output of running `apm --version`?

[2016-07-18 18:37] lgeiger opened #360 "[Question] Is starting Atom from the terminal really necessary?"
The README says:

On OS X this isn't necessary. How about linux and windows?

[2016-07-18 18:46] n-riesco commented on #358
The comment [here](https://github.com/nteract/hydrogen#installation) about installations where Python 3 is the default may be relevant.

[2016-07-18 19:00] n-riesco commented on #360
As far as I know , it never was an issue in linux or windows.
If I remember correctly it was fixed for OS X in Atom v1.8.0.

[2016-07-18 19:05] Foucl commented on #360
On Windows 10 with Atom 1.9.0-beta0, Hydrogen works fine without command line startup.

[2016-07-18 19:39] lgeiger commented on #360
Great! I'll update the readme.

[2016-07-18 20:17] #360 closed

[2016-07-18 20:53] Mungoid opened #362 "Close icon blocking part of output"
Outputs are mostly fine if they are larger, but for smaller outputs the close icon is blocking part of the result.

![image](https://cloud.githubusercontent.com/assets/5993205/16929797/e483c422-4cfe-11e6-9e5b-3cad2560b16b.png)

I tried a few different themes thinking that was the issue, but it doesnt seem to make any difference. I see most of the gifs on this repo show a rounded square to the uppe

[2016-07-18 20:56] Mungoid commented on #362
So i just remembered the apm hydrogen package is an older version than whats current on Github. I assume that is probably the issue?

[2016-07-18 20:58] lgeiger commented on #362
Exactly. Hydrogen requires atom version `1.6.0` or newer for some time now. Please update your atom installation and everything should look quite a bit different ;)

[2016-07-18 21:16] lgeiger commented on #362
By the way the new version of Hydrogen now supports mathjax output. Try using `sympy` with
[code]

[2016-07-18 21:52] rgbkrk commented on #342
What would it be like to translate the messaging protocol v4 <---> v5?

[2016-07-18 22:06] lgeiger commented on #342
There were quite a few changes:
https://jupyter-client.readthedocs.io/en/latest/messaging.html#introspection

[2016-07-18 23:25] lgeiger commented on #69
This problem was fixed in Atom.

[2016-07-18 23:25] #69 closed

[2016-07-18 23:34] lgeiger commented on #91
This issue was fixed in Atom v1.8.0.

[2016-07-18 23:34] #91 closed

[2016-07-19 08:38] #81 closed

[2016-07-19 10:16] slavaGanzin commented on #342
So you decide to downgrade protocol because of Ubuntu LTS maintain standard?

You wouldn't be rude if you push your user to install jupyter. Hydrogen is developer/scientific package, so it can ask user to use newest software

[2016-07-19 10:38] sirinath commented on #358
[code]

[2016-07-19 10:47] lgeiger commented on #358
The easiest way is to install python 2.7 via anaconda (see [here](https://github.com/nteract/hydrogen#windows))

[2016-07-19 10:50] spencerlyon2 opened #365 "Add console support"
It would be great to have a hydrogen console.

I often work where I leave semi-permanent code in the editor and turn to the console or REPL for experimental code. Being able to do this all inside with hydrogen connected to the same kernel would be _awesome_!

The [atom-ink](https://github.com/JunoLab/atom-ink) project provides the machinery for such a console.

Is it within the scope of hydrogen t

[2016-07-19 10:58] sirinath commented on #358
I have tried with Anaconda 2 & 3 and tried with only Python 2 is in the path. See the original issue for details.

[2016-07-19 11:24] n-riesco commented on #358
On 19/07/16 11:38, Suminda Dharmasena wrote:

This means Atom can't see your installation of Python.

[2016-07-19 11:45] sirinath commented on #358
How can this be rectified?

[2016-07-19 12:45] n-riesco commented on #358
You need to tell Atom where the executable for Python 2 is located, by running something like this:
[code]

We've seen reports of Windows users having problems when the Anaconda installation didn't include Python 2. But this is the first one where Atom cannot see the Python installed by Anaconda. Could you make sure Python is accessible in the command line?

[2016-07-19 13:05] n-riesco commented on #365
There is a similar request in #166  .

Note that during an Atom session, all the kernels for a given language share the same kernel. So you could simply open a new panel and use it as an REPL.

We also have some functionality to reuse kernel connections. See the section for docker containers [here](https://github.com/nteract/hydrogen#custom-kernel-connection-inside-docker).

[2016-07-19 13:06] sirinath commented on #358
Python is accessible at command line

[2016-07-19 14:23] balta2ar opened #367 "[QUESTION] Expose ports from docker container to host"
Hello. I'm trying to run custom kernel inside a docker container. I've managed to run jupyter kernel inside the docker according to the instruction, and I can connect to it using `jupyter console --existing connection.json` if I run it inside the container, but I cannot connect to it if I run it on the host system:
[code]

Ports that are mentioned in connection.json should probably be somehow expo

[2016-07-19 14:44] lgeiger commented on #244
Closed via #364

[2016-07-19 14:44] #244 closed

[2016-07-19 14:44] lgeiger commented on #42
Closed via #364

[2016-07-19 14:44] #42 closed

[2016-07-19 15:23] n-riesco commented on #367
What version of Hydrogen are you using?

This functionality is broken in master, but it should be working in the latest release (Hydrogen v0.11.0).

[2016-07-19 15:38] n-riesco commented on #367
This works for me in Hydrogen v0.11.0

[code]

Then open the file `test.py` and you should be able to run the following:

[code]

that produced this output in my case:

[code]

[2016-07-19 15:43] Mungoid commented on #362
Yep that was it. Once I downloaded a more current version of Atom and updated Hydrogen, it worked great. Dunno why I didnt notice this sooner, but atom.io download link only downloads version 1.1 even though github is up to 1.8. Serves me right for assuming whats on atom.io is current ;-)

Thanks for the tip on the mathjax output! I'll use that instead.

[2016-07-19 15:43] #362 closed

[2016-07-19 16:35] jmatsushita opened #368 "Plotly doesn't display because of Content Security Policy"
Hi there,

When running

[code]

I get the following error message in the dev console:

[code]

It works fine in IJavascript.

Cheer!

Jun

[2016-07-19 16:41] jmatsushita opened #369 "$$html$$ output size problem"
Hi there,

When trying to run the following [IJavascript example](http://n-riesco.github.io/ijavascript/doc/graphics.ipynb.html)

[code]

I get

![image](https://cloud.githubusercontent.com/assets/356097/16958217/a0639d26-4dad-11e6-9c78-bbd03e24dc48.png)

This is what happens if I add something in the div like:

[code]

![image](https://cloud.githubusercontent.com/assets/356097/16958242/b5c76a94-4

[2016-07-19 16:46] n-riesco commented on #368
cc/ @lgeiger How do you reckon? Should we wrap all the `text/html` results in a webview?
And if so, how about `image/svg`, I think SVG can contain JS?

[2016-07-19 17:07] n-riesco commented on #369
@lgeiger This issue isn't specific to IJavascript. Here's a snippet to reproduce it using IPython:

[code]

@jmatsushita Thank you for reporting this issue. As a workaround, you can do this:

[code]

Although I haven't advertised this yet, the latest version of IJavascript provides new functionality to customise output. See [here](https://github.com/n-riesco/ijavascript/blob/dev/doc/custom.ipynb)

[2016-07-19 17:30] balta2ar commented on #367
I don't really think it's related to hydrogen, it was rather documentation/docker question.

In fact, my configuration is slightly different. I'm using docker as a provider in vagrant. For some reason, `$(hostname -I)` when run in a container shows correct IP (172.17.0.2 in my case), but when I run command from README.md `python -m ipykernel "'--ip=$(hostname -I)'" -f /tmp/hydrogen/connection.json

[2016-07-19 17:38] n-riesco commented on #367
Do you have a minimum Vagrantfile I can use to reproduce the issue?

[2016-07-19 17:52] balta2ar commented on #367
I think my mistake is that I copied command line from Dockerfile directly and I was running literally this:
[code]
Notice single quotes. After I removed them and ran as follows, I found correct IP in json:
[code]
Though with this notation one extra space is appended to IP address for some reason:
[code]
Again, when I removed it manually, connection went fine. Sorry I have disturbed you about that

[2016-07-19 17:58] n-riesco commented on #367
@balta2ar @quintona It'd be great if you would document your experience setting this up and update our README.md with a section for vagrant. :smile:

[2016-07-19 18:16] rgbkrk commented on #368
SVG can indeed contain JS.

[2016-07-19 20:34] lgeiger commented on #369
@n-riesco thanks for the IPython snippet. It's an issue with the styling of hydrogen. I'll take a closer look tomorrow.

[2016-07-19 21:06] lgeiger commented on #368
If we get it to work with webviews it would be great! We should do this directly in `transformime`. Maybe using webviews would also fix #369.

I don't think we need webviews for SVG though.

[2016-07-20 04:30] jmatsushita commented on #369
@lgeiger Thanks the css fix works!

@n-riesco The new syntax is great. And I'm excited about $$.async() !!! I've been wondering when I'd run into a library that didn't provide synchronous versions :)

[2016-07-20 04:31] jmatsushita commented on #369
![image](https://cloud.githubusercontent.com/assets/356097/16975119/4edb1542-4e11-11e6-82c1-1e9e9f1062ea.png)

[2016-07-20 12:49] n-riesco commented on #368
@rgbkrk @lgeiger Are there any cons to using webviews for all `text/html` content?

What are the cons from SVGs?

[2016-07-20 13:22] n-riesco commented on #369
![screenshot from 2016-07-20 14-21-51](https://cloud.githubusercontent.com/assets/6199391/16987665/654f0918-4e85-11e6-80ec-c9c976e8d251.png)

[2016-07-20 14:10] lgeiger commented on #368
I wanted to ask the same question. I never used webviews.
I'm fine with using webviews for SVGs as well if JS in SVGs is a commonly used thing.

[2016-07-20 14:15] lgeiger commented on #369
I couldn't fix the SVG example with fiddling around in the dev console. I don't know why this is happening.

[2016-07-20 15:00] n-riesco commented on #368
The physicist in me would be very pleased with an SVG version of:

![](https://upload.wikimedia.org/wikipedia/commons/6/6d/Translational_motion.gif)

I don't know of any problems with webview in Chrome/Electron/Atom. But it isn't a standard HTML tag, and I think it's safer if `transformine` would let the user decide whether to use it or not.

[2016-07-20 15:06] n-riesco commented on #369
@lgeiger If it isn't easy, I think there is no much point fix the SVG case now (we will have to find another solution when we use webviews).

[2016-07-20 16:31] Darktex opened #371 "Improve toggle-inspector"
I like the Inspector a lot, and I think it would be great if it just showed up automatically, or if at least there was a keybinding to allow me to toggle it for a specific function without the need to go on the Internet and lose my flow.

[2016-07-20 16:38] jmatsushita commented on #369
Setting height and width on the svg element does it!

`$$.svg("<svg height=80 width=80><rect width=80 height=80 style='fill: orange;'/></svg>")`

![image](https://cloud.githubusercontent.com/assets/356097/16994767/ccf9e54c-4e76-11e6-870a-04fb3b9790c0.png)

[2016-07-20 16:43] n-riesco commented on #369
@jmatsushita Thanks! That makes sense.

[2016-07-20 17:07] sirinath commented on #358
Any new insights on how to overcome this issue?

[2016-07-20 17:39] n-riesco commented on #358
Did you try using [apm config](https://github.com/nteract/hydrogen/issues/358#issuecomment-233620647)? What happened?

[2016-07-20 18:40] n-riesco commented on #358
To locate the path to the python executable, you can run:
[code]

[2016-07-20 19:45] spencerlyon2 commented on #365
What I had in mind seems different from both opening a separate buffer to act as a "repl" or spawning a qt-console.

The atom-ink package provides a fairly standard REPL experience with partial readline support, command history, etc. Using ink might not be the right solution here, but I'm referring to it because I think it is a good example of what I had in mind.

[2016-07-20 20:13] lgeiger commented on #371
In the latest release we changed the behaviour of the inspector.

You can define a custom keyboard shortcut for yourself by adding
[code]
to your Atom keymaps file.

https://github.com/jupyter/jupyter_client/issues/51 will allow us to incorporate the introspection result in the autocompletion in the future.

[2016-07-20 20:21] #369 closed

[2016-07-20 20:26] n-riesco commented on #365
I'm going to label this issue as feature enhancement.

I've also noticed this feature was already listed in our [mostly-ignored-by-us roadmap wiki page](https://github.com/nteract/hydrogen/wiki/Roadmap) :blush: .

[2016-07-21 03:13] sirinath commented on #358
Initially I was trying: `apm config set python c:\Anaconda2\` hence was getting the above error. Since the above code included the exe name also I tried `apm config set python c:\Anaconda2\python.exe` and it worked!

[code]

Perhaps you can include this in the documentation?

[2016-07-21 05:41] n-riesco commented on #358
On 21/07/16 04:13, Suminda Dharmasena wrote:

Will do. Thank you for reporting back.

[2016-07-21 08:06] n-riesco commented on #108
@tpoisot I'm closing this issue. Please, feel free to reopen if you still need help.

[2016-07-21 09:01] lgeiger commented on #368
That's a good argument 🎉

I did a quick test with webviews in hydrogen but javascript didn't work. I used this [transformer](https://github.com/nteract/hydrogen/blob/master/lib/result-view.coffee#L228).
[code]
Do you have an idea why this isn't working?

[2016-07-21 11:35] #358 closed

[2016-07-21 11:50] tpoisot commented on #108
that's fine -- I removed the package bc  the issue persisted, and use the notebook instead.

t

[2016-07-21 20:44] rgbkrk commented on #368
Should that `src` attribute be `'data:text/html;charset=utf-8,' + data`?

[2016-07-21 20:45] rgbkrk commented on #368
I appended that directly into Atom like so:

![screen shot 2016-07-21 at 1 45 00 pm](https://cloud.githubusercontent.com/assets/836375/17038199/5ec20b1c-4f49-11e6-9729-0873019e3096.png)

[2016-07-21 22:22] lgeiger commented on #368
I tested again and found my assumption was a bit rash. Basic javascript works but plotly still doesn't 😞

[2016-07-22 09:24] n-riesco commented on #368
@lgeiger Last time I looked into using `plotly-notebook-js` in the notebook, the code to inject Plotly.js into the notebook was broken. I posted a workaround [here](https://github.com/n-riesco/ijavascript/issues/66#issuecomment-203342281). But it won't work with webviews, because Ploty.js would have to be injected into each webview.

Here's an example for testing purposes that works in the noteboo

[2016-07-22 12:21] n-riesco opened #374 "`hydrogen/connection.json` broken in MASTER"
Moved from https://github.com/nteract/hydrogen/issues/367#issuecomment-233668341

We should fix this before next release.

[2016-07-22 13:18] lgeiger commented on #368
Yes it works in webviews 👍. Thanks for the example.

I tried using plotly in python. This works in the notebook but not in webviews:
[code]

[2016-07-22 14:57] pierregodard commented on #326
@lgeiger, i have a similar problem, except that i don't even see a check mark. nevertheless, as in ([#88](https://github.com/nteract/hydrogen/issues/88)), i can connect to the jupyter kernel outside of hydrogen and check for example that a variable was instantiated and the code properly executed, or add a watch which will function as expected.

Here is the result of `apm -v`on a mac running OS X 1

[2016-07-22 15:08] lgeiger commented on #326
@pierregodard Which hydrogen version are you using? We fixed an issue with "Run and Move Down" in the latest release.

Is just "Hydrogen: Run" working for you?

[2016-07-22 15:29] pierregodard commented on #326
thank you for your answer Lukas. i use Hydrogen 0.11.0 and unfortunately "Hydrogen: Run" doesn't work either.

[2016-07-22 15:59] lgeiger commented on #326
This is very strange. I have pretty much the same setup and no problems.

[2016-07-22 16:13] n-riesco commented on #326
And what Atom version?

[2016-07-22 16:17] pierregodard commented on #326
my Atom version is 1.8.0

[2016-07-22 16:24] n-riesco commented on #326
I've tested Atom 1.8.0 and 1.9.0, and I can't reproduce it.
I've tried the UI themes `One Light` and `Atom Light`.
Which UI theme are you using?

[2016-07-22 16:35] pierregodard commented on #326
i use `One Light`  (with `Base 16 Tomorrow Light`)  but same effect with `One Dark` (and `Solarized Dark`)

[2016-07-22 16:49] n-riesco commented on #326
The most intriguing thing is that the log in the screenshot looks perfectly normal.

Could you run in the console the code `document.getElementsByClassName('bubble-result-container').length`? In my computer, this command returns 2 (one element in the editor pane and another in the watch pane).

[2016-07-22 16:57] pierregodard commented on #326
this returns `1` as is, but if i add a watch then it returns `2`

[2016-07-22 17:03] n-riesco commented on #326
Does the watch panel work?
I mean when you type `print("hello")` in the watch, and re-run `Hydrogen: Run` in the text pane, does the watch panel show the result?

[2016-07-22 17:08] n-riesco commented on #326
Also, it'd help if you could post a screenshot of the console after running `document.getElementsByClassName('bubble-result-container')` and expanding the `<div>` elements it returns.

[2016-07-22 17:10] pierregodard commented on #326
was just doing that ;) not sure what should be in there but it doesn't look there's anything like a "hello".

<img width="451" alt="screen shot 2016-07-22 at 19 08 14" src="https://cloud.githubusercontent.com/assets/4210161/17064978/c0102ede-503f-11e6-8cf7-e5060799ac9e.png">

[2016-07-22 17:34] pierregodard commented on #326
and yes the watch panel works:

<img width="604" alt="screen shot 2016-07-22 at 19 33 28" src="https://cloud.githubusercontent.com/assets/4210161/17065646/4c7e96fa-5043-11e6-85e5-bba30c0e115e.png">

[2016-07-22 17:52] n-riesco commented on #326
In the previous screenshot, did you type a 2 in the watch panel? If so, the first `div` must be in the watch pane, and the empty one must be in the edit pane.

These are the unexpected results I've notice up to this point:

- the watch panel is created on kernel startup (regardless of whether is visible or not). So, I'd expect `document.getElementsByClassName('bubble-result-container').length` to

[2016-07-22 18:13] pierregodard commented on #326
thank you for all your help!

oh i understand, i had been assigning a `2` to a variable to check if the kernel accessed outside of Hydrogen was taking that into account, so that must have persisted.

i confirm that after relaunching Atom the result of this is `1` though, not `2`

yes that is confusing...

running ` document.getElementsByClassName('bubble-output-container')` returns:

<img width="4

[2016-07-22 18:29] n-riesco commented on #326
@pierregodard If you feel like debugging this further, I'd look at [these lines](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/result-view.coffee#L99-L157).

The line that appends the result to the `bubble-result-container` is [this line](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/result-view.coffee#L138).

And thin

[2016-07-22 21:28] pierregodard commented on #326
ok thank you for the pointers! that may be a long shot for me since my literacy with Atom and [coffee|java]script is close to null but i'll try. thank you again for all your help

[2016-07-22 22:58] pierregodard commented on #326
@n-riesco apologies in advance for my rather limited abilities here but i'll try to provide some more information. if i add a breakpoint at `container.appendChild htmlElement` i'm able to look into the container and the beginning looks like this:

<img width="337" alt="screen shot 2016-07-23 at 00 49 30" src="https://cloud.githubusercontent.com/assets/4210161/17073254/6e2d4bb2-506f-11e6-9ccb-66508

[2016-07-23 07:24] n-riesco commented on #326
@pierregodard On the watch panel, if you click on `div.bubble-result-container`,  you'll be shown the location of this `div` in the DOM. Could you post a screenhot?

At this point, we know that the result is appended to `div.bubble-result-container`. Now, we need to find out where `div.bubble-result-container` is. It should be a child of `div.bubble-output-container` in the editor pane. But from t

[2016-07-23 08:22] pierregodard commented on #326
if i click on `div.bubble-result-container` i get:

<img width="1238" alt="screen shot 2016-07-23 at 10 14 40" src="https://cloud.githubusercontent.com/assets/4210161/17076905/b7b5cbb6-50be-11e6-944f-34779f19ae5e.png">

but except for `div.bubble-result-container` being a child of `div.bubble-output-container`, itself a child of `div.hydrogen.output-bubble`, i don't see much happening which would

[2016-07-23 08:40] n-riesco commented on #326
It looks like `div.bubble-output-container` isn't attached to the DOM (which explains `document.getElementsByClassName('bubble-result-container').length` being 1).

This result is suggesting that the problem is somewhere in the [code creating the output bubble](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/main.coffee#L143-L154). In particular [these lines](

[2016-07-23 08:43] pierregodard commented on #326
ok i'll look at this now.

in the meantime, here is the output of the console when i relaunch Atom and call `Hydrogen: Run` for the first time. It seems to me that it's the business of connecting to the Jupyter kernel but maybe you'll see something suspicious:

<img width="1003" alt="screen shot 2016-07-23 at 10 32 46" src="https://cloud.githubusercontent.com/assets/4210161/17076991/34710786-50c1-

[2016-07-23 08:58] pierregodard commented on #326
`view = @insertResultBubble row` [here](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/main.coffee#L151) gets executed once (if i make proper use of the debugger).

when i step over though, instead of going to the [following line](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/main.coffee#L152) `kernel.execute code, (res

[2016-07-23 09:17] n-riesco commented on #326
I've also noticed that erratic behaviour in the debugger (since Coffeescript is a transpiled language, I guess that it's hard for the debugger to know where to set a breakpoint) .

I thought the problem could've been caused by `insertResultBubble` not being called. Could you check that? For example, by setting a breakpoint [here](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495

[2016-07-23 09:27] pierregodard commented on #326
`@markerBubbleMap[marker.id] = view` is called once

[2016-07-23 09:45] n-riesco commented on #326
I don't trust the debugger (I can see the same erratic behaviour you described [here](https://github.com/nteract/hydrogen/issues/326#issuecomment-234708148).

Would you be able to edit `~/.atom/packages/Hydrogen/lib/main.coffee` and add a `console.log 'insertResultBubble:', @markerBubbleMap` above [this line](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/mai

[2016-07-23 09:59] n-riesco commented on #326
On second thoughts, let's try something more straight forward. If you're able to edit `~/.atom/packages/Hydrogen/lib/main.coffee`, could you remove [these lines](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/main.coffee#L146-L148) and see if this fixes the problem?

[2016-07-23 10:08] pierregodard commented on #326
for your second to last suggestion, not sure it's the right workflow (i don't know if i'm supposed to instead call `apm develop hydrogen` etc. to do things in a clean way), but i just edited the file directly and from `console.log 'insertResultBubble:', @markerBubbleMap` i got an empty list in the console:

`insertResultBubble: Object {}`

will try your last suggestion now.

[2016-07-23 10:18] pierregodard commented on #326
commented out the three lines, reloaded Atom, but it doesn't change the behavior.

[i also commented out the code responsible for writing `ResultView: Rendering as MIME  text/plain` in the console to actually check that my editing was actually taken into account (and it was).]

[2016-07-23 10:24] n-riesco commented on #326
On 23/07/16 11:08, pierregodard wrote:

Oops! I should've said to add `console.log 'insertResultBubble:', @markerBubbleMap` **below** `@markerBubbleMap[marker.id] = view`?

[2016-07-23 10:31] n-riesco commented on #326
On 23/07/16 11:18, pierregodard wrote:

This is baffling. To sum up, we've confirmed that:

- `div.bubble-output-container` is not in the DOM

- despite `insertBubbleResult` being invoked

[2016-07-23 10:37] pierregodard commented on #326
here is (a part of) the output when `console.log 'insertResultBubble:', @markerBubbleMap` is inserted below `@markerBubbleMap[marker.id] = view`. Not sure what would be the best way to give you the whole thing.

<img width="1279" alt="screen shot 2016-07-23 at 12 34 10" src="https://cloud.githubusercontent.com/assets/4210161/17077487/3a712970-50d2-11e6-8120-1dd54c08b223.png">

[2016-07-23 10:41] pierregodard commented on #326
- `div.bubble-output-container` is not in the DOM
- despite `insertBubbleResult` being invoked

that seems correct from my end. (just growing a bit of anxiety that i might miss something very obvious and waste your time)

[2016-07-23 10:53] n-riesco commented on #326
Your last screenshot is giving us an important clue. If [this line](https://github.com/nteract/hydrogen/blob/5e846e9cdb2e8b85d35ca4f5495f62d53bb2a718/lib/main.coffee#L179-L182) had worked as expected, then `ResultView.element` in the console log should've been `div.hydrogen.output-bubble.atom--block-decoration-59`, but instead it is missing the `atom--block-decoration-*` class.

You said above tha

[2016-07-23 10:56] pierregodard commented on #326
i used the installer from [https://atom.io/](https://atom.io/)
should i try building it from source?

[2016-07-23 11:06] n-riesco commented on #326
@pierregodard I don't want to waste your time. If this issue is urgent to you, then,  yes go for it and build form source. Otherwise, I will go through the commits in the Atom repository and see if anything is changed in the code for block decorations (I'm not going to do this today, though).

[2016-07-23 11:51] pierregodard commented on #326
@n-riesco after building Atom `1.10.0-dev-3a4e251` the behavior is unfortunately the same :(

looks like the decoration is still absent on my end:

<img width="985" alt="screen shot 2016-07-23 at 13 44 22" src="https://cloud.githubusercontent.com/assets/4210161/17077744/cae7a00c-50db-11e6-8fd6-c25430eacbf2.png">

i'm happy to continue to try to provide more information on this, but this is certain

[2016-07-23 12:25] n-riesco commented on #326
I've tested Atom 1.10.0-dev-3a4e251 and again I can't reproduce this issue.

What Atom packages have you got installed?

[2016-07-23 12:55] pierregodard commented on #326
i have several community packages although i already tried disabling all of them except `hydrogen` and it didn't change the behavior. Should i try *removing* the community packages? (although i hope this wouldn't erase my packages' settings)

here is the list from `apm list`:
[code]

[2016-07-23 13:18] n-riesco commented on #326
On 23/07/16 13:55, pierregodard wrote:

Since I'm not using most of those packages, it'll be easier for me to install them one by one.

[2016-07-23 13:20] pierregodard commented on #326
(could they have an influence even when they are disabled though?)

[2016-07-23 14:31] n-riesco commented on #326
No luck! I'm unable to reproduce this issue with any of those packages.

[2016-07-23 15:06] pierregodard commented on #326
thank you for trying this. i'm a bit at loss on how to continue the investigation as i know very little about how packages work in Atom, let alone my also very limited knowledge of the kind of technologies used here.

[2016-07-23 15:26] n-riesco commented on #326
On 23/07/16 16:06, pierregodard wrote:

On my side, I want to have a look at Atom's code for block decorations and see where things could go wrong.

On your side, I'd try to rule out a configuration problem:
- Atom stores the configuration for its packages in `~/.atom.config.cson`
- or perhaps, by installing atom locally into a new user and see if the problem is still present.

[2016-07-23 15:57] jmatsushita opened #375 "Cell boundaries"
Hi there,

I think I understand that compared to a Jupyter notebook, it's difficult for Hydrogen to determine the boundaries of cells to enable the display of intermediary computation results in Atom when the whole notebook is ran? Is that the reason why intermediary results aren't displayed or updated?

For languages (like Javascript) where an optional line delimiter (`;`) can be used, wouldn't i

[2016-07-23 15:58] pierregodard commented on #326
ok, some news here! i installed Atom on a guest user account, then just installed `hydrogen` and it.......works! (and it's very nice!:)
so definitely a configuration problem on my end. since it's not the packages, it must be some init file. apologies in advance if it's been a stupid configuration issue i should have been able to isolate much earlier. will follow up asap.

[2016-07-23 16:13] n-riesco commented on #326
Glad to hear at least it's working on a clean install.
It'd be good to know which setting is causing this issue.
Could you have a look at `~/.atom/config.cson` in your user (the one that sees this isssue)?
There'll be settings for all your packages. I'm not going to ask you to go through them, but could you have a look at the `core` and `editor` keys and see if anything catches your eye? Mine is p

[2016-07-23 16:18] jmatsushita commented on #375
Just had a thought that this might allow to copy paste in between Jupyter and Hydrogen!

[2016-07-23 16:28] n-riesco commented on #375
We haven't documented this yet, but Hydrogen already provides the option to define code cell (see #328 ). The relevant commands are `hydrogen:run-cell` and `hydrogen:run-cell-and-move-down`.

[2016-07-23 16:29] n-riesco commented on #375
@lgeiger Perhaps, we need to add a command to run all cells, e.g. `hydrogen:run-all-cells`.

[2016-07-23 16:39] pierregodard commented on #326
the editor part for me read:

[code]

the faulty line is `useShadowDOM: false`. Removing it solves the problem!! :-))
i have absolutely no idea how it got there, it doesn't seem like an accessible option from the `settings` page. I'd like to understand how it got there, but in any case, THANK YOU for bearing with me!

[2016-07-23 16:52] n-riesco commented on #326
@pierregodard If you feel like contributing, you could update our https://github.com/nteract/hydrogen/blob/master/TROUBLESHOOTING.md with a new entry advising users against disabling `Use Shadow DOM` under `Settings > Editor`

[2016-07-23 17:00] pierregodard commented on #326
will gladly do that. just a very stupid question: the simplest (only?) way to do that is to fork your repo and submit a pull request right?

[2016-07-23 17:02] n-riesco commented on #326
The simplest way is to edit the file directly on github. Go to https://github.com/nteract/hydrogen/blob/master/TROUBLESHOOTING.md and click on the icon pencil.

[2016-07-23 17:24] pierregodard commented on #326
just did that, thank you.

[2016-07-23 17:30] n-riesco commented on #326
I've opened an issue on Atom's repository. I'm closing the issue here.

[2016-07-23 17:30] #326 closed

[2016-07-23 20:24] jmatsushita commented on #375
Is it supposed to work with IJavascript?

I'm trying this

[2016-07-23 21:04] n-riesco commented on #375
In Javascript, cell boundaries are marked by:
[code]

In general, for any other language, one has to use the syntax of that language to write comments.

[2016-07-23 22:17] jmatsushita commented on #375
Oops, now I see it was specified in the pull request.

Sorry but I've never used this feature before and I'm fairly new with Jupyter. I can't make it work.

Is `// %%`is equivalent to `// <codecell>` and `// In[12]`?

Where should I place the code to execute? Is there an opening of the boundary and a closing of it? 😲

Here are my feable attempts:
[code]

[2016-07-24 07:28] n-riesco commented on #375
On 23/07/16 23:17, Jun Matsushita wrote:

We really need to document this.

Yes, they are equivalent.

At the moment there are only two commands to run code cells:
-`hydrogen:run-cell`
-`hydrogen:run-cell-and-move-down`

Your example defines three code cells:
- `x = 2`
- `y = 2+2`
- `z = x-2`

If the cursor is between `// %%` and `// In[1]` when the command `hydrogen:run-cell` is invoked, then the

[2016-07-24 12:29] lgeiger commented on #326
Thank you both for debugging this 🎉

[2016-07-24 12:48] lgeiger commented on #375
I would suggest we add this behavior to `hydrogen:run-all` rather than adding a new command for this. I'll make a PR next week.

@n-riesco I would really appreciate if you could add this to the readme since my written english isn't that great.

[2016-07-24 15:12] n-riesco commented on #375
On 24/07/16 13:48, Lukas Geiger wrote:

+1

Your written English is good enough.

[2016-07-24 15:15] lgeiger commented on #375
Thanks! I'll try my best and add it to the readme next week 😉

[2016-07-24 21:32] jmatsushita commented on #375
Thanks so much for the explanation! I really appreciate your time and effort. Hydrogen is great! I also found a bug :)

[2016-07-24 21:35] jmatsushita opened #377 "In[] or In[{number}] syntax problem"
In the image below I've done `hydrogen:run-cell` in all cells. As you can see the cells with the `// %%` and `// <codecell>` syntax work just fine, but the `In[]` or `In[1]` syntax doesn't seem to be picked up. In fact when running `hydrogen:run-cell-and-move-down` in any of the 4 top cells, the cursor moves to the 5th cell.

![image](https://cloud.githubusercontent.com/assets/356097/17086602/a7d7

[2016-07-24 21:36] jmatsushita commented on #375
Oh and +1 to adding the behaviour to `hydrogen:run-all` !

[2016-07-25 06:22] lgeiger commented on #377
The syntax for defining code cells is `// In[ ]:`. Notice the space (or a number) between the brackets and the colon at the end.
@n-riesco Should we remove the need for the space between the brackets?

@jmatsushita Which syntax theme are you using? There should be syntax highlighting for the correct breakpoints:
<img width="248" alt="bildschirmfoto 2016-07-25 um 08 17 08" src="https://cloud.github

[2016-07-25 06:33] n-riesco commented on #377
@lgeiger Is the issue caused by the missing space between the brackets or the missing colon `:`?

+1 for making the space and numbers optional. I'd feel tempted to make the colon optional too.

[2016-07-25 06:43] lgeiger commented on #377
Both.

The idea about the space and the colon was to adhere to the `jupyter notebook` export format. They are using `// In[ ]:` for not executed cells and `// In[1]:` for executed ones.

I'm OK with removing the need for the space but I think without the colon the syntax highlighting would look odd. However I don't feel strongly about this. What do you think?
<img width="237" alt="bildschirmfoto 2

[2016-07-25 07:52] n-riesco commented on #377
How does spyder deal with `// In[ ]:`?

The reason why I thought optional spaces and colons are better is that users can easily make the mistake of leaving them out. Syntax highlight should've helped. @jmatsushita , do you know why in your screenshot the syntax highlight doesn't distinguish between normal comments and breakpoints?

The grammar highlight issue with optional colons would be solved b

[2016-07-25 08:31] lgeiger commented on #377
Spyder requires just `// In[` (see [here](https://github.com/spyder-ide/spyder/blob/ef38c3837b4a08ee26435efff4d180e762f0cc00/spyderlib/utils/sourcecode.py#L35)).

OK lets make them optional.

[2016-07-25 10:45] #375 closed

[2016-07-25 10:51] #377 closed

[2016-07-25 11:01] lgeiger opened #380 "Code cells: Handle inline comments"
We don't handle the case of inline comments yet; e.g. :
[code]
Moved from [#378](https://github.com/nteract/hydrogen/pull/378#issuecomment-234909566)

[2016-07-27 08:26] lgeiger commented on #374
I checked today and connecting to an existing kernel via `connection.json` works for me as long as the kernelspec is available on the local system.

[2016-07-27 18:43] mmngreco opened #382 "hydrogen can't connect to R kernel"
Hi all,

I can't run R scripts with hydrongen. It seems like if hydrongen can't connect to R kernel. Its runs before make a `brew upgrade`, however, the R kernel works fine in jupyter notebook .

Here a screen capture of this:

![Screen Capture](https://cloud.githubusercontent.com/assets/6231413/17187545/050f1a10-543a-11e6-9128-d3d0c3f8fc8c.png)

I try to reinstall hydrogen, reinstall IRkernel, up

[2016-07-27 18:55] n-riesco commented on #382
Could you take a screenshot of the dev console?

I think the dev console is open in OS X by pressing `cmd-opt-i`.

[2016-07-27 19:12] mmngreco commented on #382
Yes, here is:

![](https://cloud.githubusercontent.com/assets/6231413/17188676/7807f326-543e-11e6-8421-c37d940bd6c1.png)

[2016-07-27 19:25] n-riesco commented on #382
The last two lines report an error launching the R kernel. Could you check whether you're able to run R in the terminal?

Also, could you expand the object in the `Kernel spec:` line and take a screenshot? I'd like to make sure your kernel spec for R isn't broken.

[2016-07-27 21:32] mmngreco commented on #382
Of course; yes, I can run R in the terminal:

![terminal-R-version](https://cloud.githubusercontent.com/assets/6231413/17193049/8db8780e-5451-11e6-86db-2548acf72790.png)

Maybe can be useful this, r versions installed:

![r-versions](https://cloud.githubusercontent.com/assets/6231413/17193055/929fa2e8-5451-11e6-908f-91183f87e453.png)

Kernel spect expanded:

![Kernel_spec](https://cloud.githubuser